[2012-12-08 16:44] gvwilson opened #1 "Create lecture on Git and GitHub"
Remix material that people have already created to produce a 90-minute introduction to Git and GitHub. Length and depth should be similar to [existing Subversion material](http://software-carpentry.org/4_0/vc/).

[2012-12-08 16:47] gvwilson opened #2 "Improve setup/installation instructions for workshop participants."
Reorganize and reformat setup & installation instructions for workshop participants. These should be organized as a grid (platform vs. tool), but also include a path (step 1, step 2, ...) for each platform. They should _not_ assume more information about things like environment variables than our participants have before taking our workshops.

[2012-12-08 16:49] gvwilson opened #3 "Develop pre-workshop assessment questionnaire"
Create and field-test a short questionnaire that will help potential workshop attendees figure out if the workshop is right for them (and tell instructors something about who they're going to be teaching). Some requirements:
1. Must take 10 minutes or less to complete.
2. Must _not_ frighten away the people we're trying most to help (but it's OK if the conclusion is "You're not ready for this").
3

[2012-12-08 16:53] gvwilson opened #4 "Develop post-workshop assessment tools"
Create instruments for determining how well workshops went. This should include:
- learner enjoyment/satisfiaction
- actual learner achievement
- ideas for improving setup/execution next time

[2012-12-08 17:16] wking opened #5 "Automatically build PDF and PNG versions of ODPs"
The current Subversion repository tracks PDF and PNG versions of some ODP slides.  Rather than bloat the repository with a bunch of binary blobs, we should automatically generate them using LibreOffice and Imagemagick.

Potential issues with autogeneration:
1. The SWC server doesn't have the new build tools installed.  Fix: build a tarball locally, push the tarball to the server, and unpack there:

[2012-12-08 17:35] gvwilson opened #6 "Trial online office hours for learners"
Try running online office hours (open-ended help sessions) for learners after workshops.

[2012-12-08 17:38] gvwilson opened #7 "Implement code of conduct for workshops"
Borrow from the [PyCon Code of Conduct](https://us.pycon.org/2012/codeofconduct/) to create one for Software Carpentry workshops.
- Is this opt-in or mandatory?

[2012-12-08 17:39] gvwilson opened #8 "Make sign-off for contributed content explicit"
Create some sort of sign-off for content contributors so that it's clear we have the right to use stuff.

[2012-12-08 17:42] gvwilson opened #9 "Update and extend FAQ"
The FAQ needs to be updated and enlarged. Should answer questions from:
- workshop attendees
- workshop instructors/hosts
- potential funders
- other scientists

[2012-12-08 17:43] gvwilson opened #10 "Create media-based introduction to Python programming"
Write an alternative introduction to programming in Python that uses image manipulation for examples.
- Build on top of [Michael Hansen's simple media library](https://github.com/synesthesiam/skimage)

[2012-12-08 17:45] gvwilson opened #11 "Create material on web programming"
Create material to fill a half day or a full day to cover:
- basic HTML authoring
- parsing and creating HTML programmatically
- reading and writing web data
- how to think like the web
- security issues

Existing material is in book/web.html.

[2012-12-08 17:45] wking commented on #8
Here's a dump of the earlier mailing list discussion into this issue:

[code]

[2012-12-08 17:45] gvwilson opened #12 "Create introductory material on R"
Create material for a half-day or full-day introduction to programming using R to parallel existing material using Python.

[2012-12-08 17:48] gvwilson opened #13 "Finish instructors' guide"
Write an instructors' guide for workshops. Existing material is in book/teach.html, and scattered through book/*.html in 'keypoints' and 'understand' sections.

[2012-12-08 18:06] gvwilson opened #14 "Issue badges to instructors, creators, and organizers"
1. Build a command-line script for issuing open badges using 5.0/bin/*.py as a starting point.
2. Use this to issue badges to instructors, creators, and organizers. (We won't issue to learners until we figure out what that means.)

[2012-12-08 18:09] gvwilson opened #15 "Build Popcorn-based replay-with-audio plugin for IPython Notebook"
Use [Popcorn.js](http://popcornjs.org/) and some kind of text-record-and-playback tool to create a replay-in-the-browser plugin for the IPython Notebook.

[2012-12-08 18:13] gvwilson opened #16 "Convert from WordPress to compiled web site"
Get rid of WordPress and start using the compiled web site.

[2012-12-08 18:15] gvwilson opened #17 "Move all existing content into Git repository"
Move everything from http://svn.software-carpentry.org/swc/5.0/website into GitHub.

[2012-12-08 18:21] wking commented on #1
I've collected links to previous suggestion from tutors@ [here](https://github.com/wking/dvcs-content/blob/wking/README.md).

[2012-12-08 18:22] jiffyclub commented on #8
So if I understand this, we're going to link to https://github.com/wking/signed-off-by/blob/master/Documentation/SubmittingPatches in our contributing guidelines and then just have people put a signed-off-by line in their commit messages?

[2012-12-08 18:27] wking commented on #8
On Sat, Dec 08, 2012 at 10:22:44AM -0800, Matt wrote:

Yup.  The link actually uses an explicit commit hash instead of
`master`, so it is clear which version of a potentially evolving
`SubmittingPatches` a particular s-o-b agreed to.

##

This email may be signed or encrypted with GnuPG (http://www.gnupg.org).
For more information, see http://en.wikipedia.org/wiki/Pretty_Good_Privacy

[2012-12-08 18:33] jiffyclub commented on #8
If a pull request contains many commits does the s-o-b line need to be in all of them or just one?

[2012-12-08 18:51] wking commented on #8
On Sat, Dec 08, 2012 at 01:47:09PM -0500, W. Trevor King wrote:

For example (from the `filter-branch` man page!):

[code]

[2012-12-08 18:57] jiffyclub commented on #8
So the s-o-b line has to be in every commit?

[2012-12-08 19:04] wking commented on #8
On Sat, Dec 08, 2012 at 10:57:02AM -0800, Matt wrote:

Yup.

However, when Linux moved to the DCO/s-o-b, they didn't hunt down all
of the thousands of earlier devs and request signoffs for old patches.
SWC has fewer developers, so back-sign-offs would be easier for us.
Deciding whether they are a good idea is probably up to Greg.

[2012-12-08 19:26] ethanwhite commented on #10
I have to admit I'm not sold on this yet. My take away from the Guzdial article was that it was the giving students something they can identify with that was important ("Students found the new course more relevant and compelling"), not the image based stuff _per se_. Media-based approaches make sense as a general topic that lots of generic undergraduates would be interested in and be able to ident

[2012-12-08 19:35] ethanwhite commented on #17
I believe I remember someone (maybe @jiffyclub) suggesting on the mailing list that we might not bother moving the history. Given the relative ease of [svn2git](https://github.com/nirvdrum/svn2git) for bringing along the history it seems like it might be worth the extra bit of effort to do so (I've done this fairly regularly as my group has made the transition without much trouble). We can even us

[2012-12-08 19:38] gvwilson commented on #17
Over the years, some things have been added to the SVN repo that should never have been there (e.g., PDFs of research papers that we didn't have permission to share). I'd be happy at this point to lose the history, since the SVN repo will always have it if we really, really want it.

[2012-12-08 19:40] ethanwhite commented on #17
OK, sounds good to me.

[2012-12-08 19:40] gvwilson opened #18 "Create a one-minute video pitch "why you should attend a Software Carpentry workshop""
Write, record, and post a 60-second video explaining what we do and why potential learners should come to one of our workshops. This can use the existing 90-second pitch as a starting point.

[2012-12-08 19:41] gvwilson opened #19 "Create a one-minute video pitch "why you should host/teach a Software Carpentry workshop""
Create a 60-second video explaining why someone would want to organize or deliver a Software Carpentry workshop.

[2012-12-08 19:41] ctb commented on #18
On Sat, Dec 08, 2012 at 11:40:36AM -0800, Greg Wilson wrote:

We should do discipline specific ones, too.

## --titus

C. Titus Brown, ctb@msu.edu

[2012-12-08 19:41] jkitzes commented on #10
I agree strongly with Ethan's comment - I suspect that our time on this topic would be better spent developing domain-specific exercises for different audiences, rather than changing our "generic" lessons over to a media focus. For my own field, for example, I think [using logistic population growth models](http://nbviewer.ipython.org/urls/raw.github.com/swcarpentry/2012-11-scripps/master/python/p

[2012-12-08 19:44] gvwilson opened #20 "Add something to web site for requesting boot camp."
There is no clear way on the web site right now for people to contact us to request a boot camp. This could be as simple as a mailto:, or a real web form.

[2012-12-08 23:12] ptone commented on #11
to continue the brainstorm:
- basics of CSS and structure vs style
- scraping vs using REST API endpoints
- Using firebug/webkit inspector as an interactive environment and exploratory tool
- accessibility

[2012-12-08 23:42] caitsydney commented on #18
What about comments from people who have taken the workshop? "Why SWC was useful to me" sort of thing. Possibly record at workshops (during, after) about why people are attending and what they hope to learn.

[2012-12-08 23:46] caitsydney commented on #11
@ctb does a whole web-development course. If I TA for him, maybe we can modify some of the starting materials for SWC use? Most of his lessons are online. He does a good job with the "how the web works" / "how to think like the web" as well as a couple of module-type lessons on security. http://ged.msu.edu/courses/2012-spring-cse-491/

[2012-12-08 23:51] caitsydney commented on #3
It might be useful to have two types of pre-workshop assessments. The first would be the "Is SWC for you?" assessment that I think you are referring to here, which would also include info about the student's background/experience level... The second would be something a bit more detailed that students would take at the beginning of the workshop (actually sitting in the classroom) - which would be

[2012-12-09 01:52] gvwilson commented on #11
All desirable, but we have six hours at most, and most of the participants will still be novice programmers.

[2012-12-09 03:51] karthik commented on #12
Here's a list of topic suggestions that would be really useful for R newbies to learn in a 1/2 day workshop.

**1 R basics**: Not a super basic intro \* but explain useful concepts that beginners  deal with but aren't covered in any detail in intro R books. E.g. things like the difference between S3 and S4 objects. Not the technical details but more practical issues that scientists have to deal wi

[2012-12-09 06:23] dmcglinn commented on #12
I'm really excited Soft Carp is adding R into its curriculum! I like the list Karthik started, and I just wanted to add a few comments and additions to his list.

<strong>1. R basics</strong>: here are some more basic possibly obvious topics that should be covered:
- basic mathematical operators
- matrix algebra (depending on the audience)
- logical operators
- what R scripts are
- proper style fo

[2012-12-09 06:41] karthik commented on #12
Great comments, Dan! The biggest challenge with a half day workshop is that it is half a day. So a workshop crammed with too many topics in such a short time may not work at all.

Although I am a big proponent of well documented and properly styled code, I wouldn't cover that here. It would be great to do on day 3. Same with linear modeling. Scientists learn statistics concepts elsewhere so confou

[2012-12-09 06:53] dmcglinn commented on #12
Hey Karthik! Thanks for pointing out my blunder, I thought they were looking for ideas for a 2 day workshop not half day. Still even with a little more time, your point about the dangers of mixing stats and programing are well taken and should probably be avoided given your past experiences.

With respect to proper style. It may be that there is not enough time to develop proper style that is exha

[2012-12-09 11:23] barryrowlingson commented on #12
I'm in on this - it was something I wanted to do as part of my Software Sustainability Fellowship proposal.

One important thing is to make sure students understand that R is not the interface. By which I mean that R runs on the command line, or inside RStudio, or in EmacsESS. I would recommend RStudio for beginners, just so all the windows are in one place and they have easy editor integration, b

[2012-12-09 12:44] gvwilson opened #22 "Rationalize online accounts for Software Carpentry"
Right now, we are using:
- 'analytics@software-carpentry.org' and 'workshops@software-carpentry.org' on Google itself
- 'events@software-carpentry.org' on EventBrite
- 'video@software-carpentry.org' on YouTube
- 'gvwilson@third-bit.com' for the CafePress store, Doodle, and SurveyMonkey
- 'softwarecarpentry' at Disqus

There should be a single 'admin@software-carpentry.org' account that owns/runs e

[2012-12-09 13:21] gvwilson commented on #12
Thank you all for the comments, but please also keep in mind that we're not really here to teach them R (any more than we're here to teach them Python). We're here to teach them _programming_: most particularly, when and how to break things into functions that will fit in their heads and can be re-used, and how to build little tools of their own that play nicely with others (e.g., conform to the U

[2012-12-09 13:40] barryrowlingson commented on #12
Nothing but 404's on that link for me.

+1 to all those sentiments, but I don't believe you can learn programming in the abstract without a concrete application. There's only so far you can go with foo, bar, and baz before you have to introduce sufficient context for the student's mind to map what's being taught to their specific application. The students are quite likely to be statisticians or ge

[2012-12-09 13:49] gvwilson commented on #12
1. Link fixed (sorry about that).
2. I agree about 'foo' and 'bar' --- the evidence says _every_ example should be real and concrete.
3. "The R Inferno" is a good guide for people who already understand programming, but my feeling (untested in the classroom) is that it would be telling novices how to solve problems they don't realize they have.

We'll be discussing all of this in the next round of

[2012-12-09 20:50] gvwilson opened #23 "Arrange boot camp for the Evolution 2013 meeting in Snowbird"
http://www.evolutionmeeting.org/

[2012-12-09 20:52] gvwilson opened #24 "Run bootcamp at University of Manchester - 18-19/04/13"
- Where: Manchester
- Host: Casey Bergman (local organiser) and Carole Goble
- Audience: Internal
- Instructors: Mike Jackson (@mikej888), Aleksandra Pawlik (@apawlik), David Jones (@drj11)
- Helpers: Shoaib Sufi (@shoaibsufi), Michael Croucher
- Web site: http://software-carpentry.org/bootcamps/2013-04-manchester.html
- Registration: http://www.eventbrite.com/event/5397207192
- Mailing list: http

[2012-12-09 20:52] gvwilson opened #25 "Boot camp for GEOMAR (Kiel) May 6-7, 2013"

[2012-12-09 20:53] gvwilson opened #26 "Boot camp for Caltech"

[2012-12-09 20:54] gvwilson opened #27 "Boot camp for Tulane"

[2012-12-09 20:54] gvwilson opened #28 "Run boot camp for Lawrence Berkeley National Lab March 4-5, 2013"
- @gvwilson + 1 other to teach March 4-5, 2013
- to be followed by #247

[2012-12-09 20:59] katyhuff commented on #26
I'm potentially interested in helping with this, depending on the dates.

[2012-12-09 23:05] jkitzes commented on #28
Don't know about "organize", but I'm happy to hop up the hill as an instructor again, if that would be helpful. EDIT: I can do either of those, but probably not both.

[2012-12-09 23:14] gvwilson opened #29 "Run boot camp for UC Berkeley"
- @jkitzes will co-teach.

[2012-12-09 23:15] gvwilson opened #30 "Boot camp for Stanford May 6-7, 2013"
- @arokem, @BernhardKonrad and @ivanov will instruct.

[2012-12-09 23:15] gvwilson opened #31 "Boot camp for University of Wisconsin - Madison"
- April 29-30, 2013
- @stephenmcgough will instruct

[2012-12-09 23:15] gvwilson opened #32 "Boot camp for University of Alberta"
- May 30-31, 2013
- @gvwilson is lead instructor

[2012-12-09 23:16] gvwilson opened #33 "Boot camp for UC Davis May 13-14, 2013"

[2012-12-09 23:16] gvwilson opened #34 "Boot camp at University of Washington"
Organize a second boot camp for the University of Washington using local talent to teach.

[2012-12-09 23:16] gvwilson opened #35 "Boot camp for US Geological Survey (Denver)"

[2012-12-09 23:17] gvwilson opened #36 "Boot camp at University of Oklahoma July 1-2, 2013"

[2012-12-09 23:17] gvwilson opened #37 "Boot camp at Indiana University July 11-12, 2013"
- @synesthesiam and Jeff Shelton to lead (?)

[2012-12-10 11:19] gvwilson opened #39 "Create "check my machine" script for Mac OS X"
Write a small script that people can download from our web site and run on their machine that will tell them if everything they need for a boot camp has been installed correctly --- see https://github.com/swcarpentry/website/issues/38 for starting points.

[2012-12-10 11:19] gvwilson opened #40 "Create "check my machine" script for Windows"
Write a small script that people can download from our web site and run on their machine that will tell them if everything they need for a boot camp has been installed correctly --- see https://github.com/swcarpentry/website/issues/38 for starting points.

[2012-12-10 15:26] codersquid commented on #7
The Chicago Python Workshop created a [code of conduct](https://openhatch.org/wiki/Chicago_Python_Workshop/Code_of_Conduct) tailored for a beginning workshop in one room with a duration of a day and a half.

[2012-12-10 16:14] gvwilson opened #41 "Boot camp at Duke University"
- R rather than Python
- Friday and Saturday in February or March 2013, excluding the first Friday of each month

[2012-12-10 17:25] karthik commented on #12
Also agree that foo and bar aren't the way to go. One thing to remember is that when someone takes the initiative to attend a R workshop, more often than not, they already have data to work with and problems to solve. So using concerete examples (the one solid dataset I suggested above, appropriate for the audience) would work well.

R Inferno is too much for anyone attending a intro workshop.

I

[2012-12-10 18:08] ethanwhite commented on #12
Great to see all of the excitement from R folks and apologies if I caused any confusion about the overall goal. Let me provide a little more context for folks new to Software Carpentry. We are typically running 2 day workshops targeted at folks who already have some basic programming skills (expressions, types, variables, loops, conditionals, and functions) in any language. These workshops cover a

[2012-12-10 18:13] embray commented on #27
Who do we know at Tulane who's interested?
My dad used to teach there, albeit almost 30 years ago :)

[2012-12-10 18:27] cboettig commented on #12
It's great to see this discussion.  Though primarily an R user myself, I have loosely followed Software Carpentry materials online for several years, even administering one of it's surveys on best practices to the other 100 or US students in my computational science graduate fellowship program (e.g. [example results](https://github.com/cboettig/sandbox/blob/e9403b65f069a4d9cfcb111670482da2f4929782

[2012-12-10 19:10] ctb commented on #12
Note that Mark Blaxter in Edinburgh has been running R workshops for biologists for a while now.  Here are his materials, battle tested etc.

https://www.wiki.ed.ac.uk/display/AshworthBioinformatics/Ashworth+R+Resources

On Dec 10, 2012, at 6:08 PM, Ethan White notifications@github.com wrote:

[2012-12-10 21:06] npch commented on #14
Question: are we going to be collecting and storing details of instructors, helpers and organisers in a "standard" format for each bootcamp? So that then you could just run a script after each workshop once the organiser/instructors have confirmed attendance and written a post-mortem report?

[2012-12-10 21:10] gvwilson opened #42 "Boot camp at Beacons Satellite Symposium, Bath - 15-16/07/13"
- Where: [Beacons Satellite Symposium](http://people.bath.ac.uk/ee3jarr/beaconsatellite2013/), Bath
- Host: Alex Chartier
- Audience: attendees at the above
- Instructors: Mike Jackson, Chris Woods (@chryswoods)
- Helpers: Eliot Marsden, Fergus Cullen, Jeremy Metz, David Martin?,
- Web site: http://software-carpentry.org/bootcamps/2013-07-bath.html
- Registration: Restricted
- Mailing list: http:/

[2012-12-10 21:11] gvwilson commented on #14
I already have these details in a little SQLite database --- it's not
public because it contains personal information (e.g., email addresses
and phone numbers).  We should figure out where/how to store this
securely in a shareable way.
Thx,
G

On 2012-12-10 4:06 PM, npch wrote:

[2012-12-10 21:15] wking commented on #14
On Mon, Dec 10, 2012 at 01:06:43PM -0800, npch wrote:

+1 for structured data.  Boot camp YAML front matter in
boot-camps/gh-pages would be a good place for this.  If this
information is not going into the websites or related content, storing
it somewhere else may be ok.  I'm not sure it's worth the mental
overhead of having two (or more) places where boot-camp details are
kept.

[2012-12-10 21:18] gvwilson opened #43 "Store contact information and other workshop details in a secure, shareable way"
@gvwilson currently stores information on past workshops (e.g., participants names and email addresses, instructors t-shirt sizes, etc.) in an SQLite database stored in a private Subversion repository. We need something better that:
- supports versioned sharing
- is secure
- doesn't violate any privacy protection laws

[2012-12-10 21:19] gvwilson commented on #14
See https://github.com/swcarpentry/website/issues/43.

[2012-12-10 21:21] wking commented on #14
On Mon, Dec 10, 2012 at 01:12:09PM -0800, Greg Wilson wrote:

Private Git repo for the sqlite file?  I'd probably publish it on
software-carpentry.org over HTTPS and have a single user/password
simple-auth requirement.  This is not very secure, but the personal
information doesn't seem very sensitive.

[2012-12-10 21:24] wking commented on #43
Cross-posted from issue #14

On Mon, Dec 10, 2012 at 04:15:14PM -0500, W. Trevor King wrote:

On Mon, Dec 10, 2012 at 04:20:36PM -0500, W. Trevor King wrote:

[2012-12-10 21:46] npch commented on #18
This short interview that Mike did with the EGI might be of use as one starting point:
http://www.egi.eu/news-and-media/newsfeed/news_0178_software_carpentry_workshop.html

[2012-12-10 22:00] gvwilson opened #44 "Set up Etherpad for use in boot camps"
We're currently using Mozilla's Etherpad installation; we should set one up on software-carpentry.org so that we can easily create one 'pad per workshop.

[2012-12-11 13:51] jaredlander commented on #41
I might be available depending on the exact date.

[2012-12-11 14:11] drj11 commented on #43
I have used a private bitbucket repo (they're free for a small number, unlike github) for things like this in the past.  works well.

If you want it mergeable, the CSV output from sqlite is probably okay.

[2012-12-11 14:42] gvwilson opened #45 "Develop "for complete beginners" version of course"
We have a lot of requests from biologists, geographers, and others for an entry-level version of this course.

[2012-12-11 14:43] ctb commented on #45
On Tue, Dec 11, 2012 at 06:42:42AM -0800, Greg Wilson wrote:

I think this is what the NSF OCI supplement that I got can be used for.
Sound good?

##

C. Titus Brown, ctb@msu.edu

[2012-12-11 14:54] gvwilson opened #46 "Bootcamp at Penn State"
- @adina is interested in teaching.
- See also #366.

[2012-12-11 15:40] drj11 commented on #24
Can i teach shell please? (am pretty flexible actually if it comes down to it)

[2012-12-11 15:58] ethanwhite commented on #12
Yes, of course, and yes, we're in the process of generally moving over to git instead of svn (see #1 this recent [blog posts](http://software-carpentry.org/2012/12/some-of-the-things-weve-learned-about-teaching-git/)). I believe that some workshops may also be teaching Mercurial in cases where that is most appropriate for the audience. Again, the goal is to teach Version Control in general, not a

[2012-12-11 16:13] gonuke opened #47 "Develop generic timeline for planning a boot camp"
While every case will be a little different, it would be useful to develop/share best practices for planning a workshop.   In particular, what is a the recommended/preferred number of days/weeks/months prior to the event to have finalized detail x/y/z....

[2012-12-11 17:31] mikej888 opened #48 "Run boot camp "highlights" at EGI Forum, Manchester - 11/04/13"
- Where: Manchester
- Host: Michel Drescher
- Audience: EGI Forum attendees
- Instructors: Mike
- Helpers: Björn Hagemeier and SSI folks.
- Web site: http://software-carpentry.org/bootcamps/2013-04-egi-forum.html
- Registration: http://cf2013.egi.eu/registration/. Can check a forum registration box to express interest or drop-in on the day.
- Mailing list: N/A
- Repository: https://github.com/swca

[2012-12-11 17:38] mikej888 opened #49 "Boot camp for University of Edinburgh geosciences"
In conjunction with Mike Mineter who attended the PRACE Edinburgh boot camp in December 2012. Mike said he'd be in touch with mikej888 in due course.

[2012-12-11 17:38] mikej888 opened #50 "Boot camp for SUPA consortium - December 2013"
- Where: TODO
- Host: Norman Gray
- Audience: [SUPA Scottish Physics Consortium](http://www.supa.ac.uk)
- Instructors: TODO
- Helpers: TODO
- Web site: TODO
- Registration: TODO
- Mailing list: TODO
- Repository: TODO
- Syllabus: TODO

Notes: Norman attended the PRACE Edinburgh boot camp in December 2012.

[2012-12-11 18:33] jiffyclub commented on #46
Depending on the dates this isn't impossibly far from me.

[2012-12-11 20:17] drj11 commented on #24
same as issue #48 ?

[2012-12-11 20:17] drj11 commented on #48
Mike, is this the same as issue #24? (where I already volunteered for shell).

[2012-12-11 20:19] drj11 commented on #49
I'd like to help with this if possible.  teaching or being a helper.

[2012-12-11 21:38] gvwilson commented on #48
Nope: the EGI workshop in Manchester is different from the general U. Manchester workshop.

[2012-12-11 21:39] gvwilson commented on #24
This is a general workshop for U. Manchester --- #48 is specific to the EGI Forum.

[2012-12-12 03:37] jiffyclub commented on #5
I'd be more interested in an actual plan for media. The 4.0 stuff is never going to change so I don't think it's too important that we go to a bunch of trouble to auto generate it. Right now the repo is at a fairly manageable ~300 MB, but what are we going to do as we continue to add media for blog posts, etc? Just assume it won't grow very fast?

[2012-12-12 10:11] mikej888 commented on #42
I can be one of the instructors.

[2012-12-12 15:02] gvwilson commented on #13
@abostroem suggests a complete composite centralized repository of material and discussions between organizers and instructors about what worked, what didn't work,  and what changes were made to the central material and why.

[2012-12-12 15:17] gvwilson opened #51 "Link to blog from index.html in compiled web site broken"
index.html has "./blog/" as a link, but that 404's on http://dev.software-carpentry.org --- rewrite issue?

[2012-12-12 15:18] gvwilson opened #52 "Web site rendering is mediocre on mobiles devices"
Should work on tablets as well as full-screen devices (and the blog should look good on cellphones, at least).

[2012-12-12 15:22] gvwilson opened #53 "Default new-look web site font size too small"
General-purpose text needs to be a point size or two larger for older eyes :-)

[2012-12-12 15:23] gvwilson opened #54 "Turn off random "recommended for you" links from Disqus"
Can we disable the random-seeming "recommended for you" links that Disqus gives us?

[2012-12-12 15:25] gvwilson commented on #54
@shreddd points at http://help.disqus.com/customer/portal/articles/666278#discovery-settings

[2012-12-12 15:45] pipitone commented on #51
Fixed in svn rev 3409.

[2012-12-12 15:45] #51 closed, assigned to pipitone

[2012-12-12 15:46] pipitone commented on #54
Done.

[2012-12-12 15:47] #54 closed, assigned to pipitone

[2012-12-12 15:49] gvwilson commented on #51
On 2012-12-12 10:45 AM, pipitone wrote:

This fixes the .htaccess, but leaves the link in index.html as "./blog/"
--- should it be "./blog/index.html"?
Thx,
G

[2012-12-12 15:52] wking commented on #5
On Tue, Dec 11, 2012 at 07:37:12PM -0800, Matt wrote:

I agree with this, but it probably deserves its own issue.

It's not a lot of trouble, I've already written up the patch :p.  And
I think “never going to change” is an exaggeration, otherwise why
bother with version control at all?

[2012-12-12 15:53] pipitone commented on #53
Fixed in svn rev 3410.

[2012-12-12 15:53] #53 closed, assigned to pipitone

[2012-12-12 16:04] jiffyclub commented on #5
No, I'm serious. Never, ever change. And if we can come up with a good media plan I'd be happy to see it stay out of version control.

@gvwilson is the one who's is probably most often going to be compiling the site so I think it's up to him to decide what work flow he'll be happy with.

[2012-12-12 16:08] gvwilson opened #55 "Add location highlighting to new-look web site"
Everybody except @gvwilson seems to want some sort of nav-bar highlighting to show current location.

[2012-12-12 16:10] wking commented on #5
On Wed, Dec 12, 2012 at 08:04:10AM -0800, Matt wrote:

Really?  It's perfect now?  Noone will ever improve anything?  Or
migrate to a different file format when the current ODP eventually
dies?

Works for me.

[2012-12-12 16:12] gvwilson opened #56 "Remove 'Home' link from main menu?"
If clicking on the logo at the top of the page takes people home, do we also need a 'Home' link?

[2012-12-12 16:16] gvwilson opened #57 "Create teachable descriptions of software lifecycles"
http://software-carpentry.org/3_0/lifecycle.html and the material in http://software-carpentry.org/4_0/softeng/ are out of date; we need something that describes agile and sturdy processes in a digestible (teachable) way.

[2012-12-12 16:16] jiffyclub commented on #5
@gvwilson can correct me, but I think we are completely done with ODP/PPT formats. New content will be in something else (e.g. IPython Notebooks for anything Python related).

[2012-12-12 16:18] gvwilson commented on #5
On 2012-12-12 11:16 AM, Matt wrote:

That is my strong preference, though #include years of discussion about
what's wrong with current-generation HTML as a slideshow format...
G

[2012-12-12 16:18] gdevenyi commented on #56
Yes, because it is not immediately obvious to all users that
1) The logo is clickable
2) The logo will send you home

[2012-12-12 16:21] embray commented on #5
Yeah I really like some of those slide decks and I think they're worth having around; I just don't want to be the one who converts them to HTML. (Or we could just put up a big &lt;canvas&gt; and write JS to draw directly to it; honestly that would be less hassle than positioning divs).

[2012-12-12 16:22] jiffyclub commented on #52
That's pretty vague! The current state is useable, but not beautiful, on small screens. It's certainly an improvement over the WordPress site. Things I've noticed specifically need improvement for mobile devices:
- Titles are off center
  - This is caused by the `div.title h1 {margin: }` style in `swc.css`. I think we should just get rid of that, I don't see it doing anything.
- Next/Previous butt

[2012-12-12 16:23] gdevenyi commented on #11
Does such material really support the core goals of Software Carpentry?

Also, there's a lot of material out there already that covers these topics quite well. Should we duplicate that effort?

[2012-12-12 16:25] wking commented on #5
On Wed, Dec 12, 2012 at 08:18:29AM -0800, Greg Wilson wrote:

“Development in this direction is dead” definitely sounds like a good
reason to not transfer this content into the new Git repository.  If
the material doesn't come into the new repository, there's no need for
my patch.

I was under the impression that while further development of the ODP
source was not very palatable, it was still Greg

[2012-12-12 16:30] gvwilson commented on #52
This feels like it's going to be a lot of work, so let's defer to the
new year...

[2012-12-12 16:31] embray commented on #11
Given recent experiences I can say that scientists do want to build web sites and web-based mobile apps and things of that nature, and have _no_ idea how to even begin with that (or if they do they still do it poorly using 20th century technology).  So I think it's worth covering, but only for audiences that are specifically clamoring for it.

[2012-12-12 16:33] jiffyclub commented on #55
The highlighting can be achieved by setting the current navbar `<li>` item's class to `active`. The tricky part is making it so that every page knows which navbar item to fiddle with, though we might be able to set this at compile time using information available to Jinja.

[2012-12-12 16:36] gdevenyi commented on #11
You make a good point, I've seen many terrible websites created by professors. It seems to me as though this market segment is begging for a CMS product.

[2012-12-12 16:36] jiffyclub commented on #56
It's become pretty standard practice to make logos send you back to the home page so I think users expect that, but I don't think the "Home" link is hurting anything by taking up space in the navbar.

[2012-12-12 16:38] gvwilson commented on #11
- We should be able to cover things like
  http://www.w3.org/DesignIssues/LinkedData.html.
- Something along these lines is required by @gvwilson's current
  employer :-)

[2012-12-12 16:38] jiffyclub commented on #52
I'll see what I can do on the two things above. They shouldn't be too bad and the blog navigation is basically unusable on a phone right now so we don't want to launch with that.

[2012-12-12 16:39] jiffyclub commented on #53
What did you change it to? I'm okay with 15px but 16px is too big.

[2012-12-12 16:40] karthik opened #58 "Use human-friendly date format on blog entries instead of YYYY-MM-DD"
This is more of a UI suggestion but it would nice to make the dates on [the blog index page](http://dev.software-carpentry.org/blog/index.html) more human friendly.

![image](https://f.cloud.github.com/assets/138494/8588/afa2b172-447a-11e2-8c49-1a91d6d811c3.png)

[2012-12-12 16:43] gvwilson opened #59 "Add drop-down menus to web site"
(split from #55)

Everyone but @gvwilson wants drop-down menus on the web site.

[2012-12-12 16:43] karthik opened #60 "Add TOC of names for easier navigation"
On [this page](http://dev.software-carpentry.org/about/team.html), the list of instructors is quite long. It would make it easier to navigate with a list of names up top that link to anchors down below.

[2012-12-12 16:45] gvwilson opened #61 "Add key to Google Map explaining pin color"
We're using blue and purple to show future and past workshops; the map should have a key.

[2012-12-12 16:47] karthik opened #62 "Explain what SWC is in 'about' page"
On [the main 'about' page](http://dev.software-carpentry.org/about/index.html) it would be nice if the first sentence described what SWC does instead of skipping directly into other details. For someone with no idea what this group does, it would be nice to know at least a little about the group's mission and larger goals in a sentence or two.

On further consideration is seems to be on the front

[2012-12-12 16:49] jiffyclub commented on #59
I'm not so sure about that "everyone". And for several of the menu items I'm not actually sure what would go in the drop down. You've done a good job putting links to the most useful information at the top of each sub-page so I'm not sure drop-downs would add much navigational help.

[2012-12-12 16:50] wking commented on #58
On Wed, Dec 12, 2012 at 08:41:00AM -0800, Karthik Ram wrote:

Hey, I like YYYY-MM-DD ;).  It has sane significant digit ordering,
and it avoids MM/DD/YYYY|DD/MM/YYYY cultural issues (e.g. "December
12, 2012" vs. "12 December 2012").

[2012-12-12 16:56] pipitone commented on #53
Oh dear.  Yes, I changed it to 16pt.  It looks reasonable on my machine under chrome/firefox.

[2012-12-12 16:59] ahmadia opened #63 "fix creative commons cc by badge to show content owners"
The Creative Commons badge should probably look something more like:

<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a> This site, by the <a xmlns:cc="http://creativecommons.org/ns#" href="http://software-carpentry.org" property="cc:attributionName" re

[2012-12-12 16:59] karthik commented on #58
The sanity is great for research and programmatic needs and the date can still be stored in the database as `YYYY-MM-DD`. But this is a website with some aesthetic needs and dates could be formatted in a better way. There would be less cultural confusion with a version below than the one currently in place. How would there be any confusion with this format ("December 12, 2012" vs. "12 December 201

[2012-12-12 17:03] jiffyclub commented on #58
A large badge like that is totally out of the question, though. These "long past" blog entries should only take up one line.

[2012-12-12 17:03] karthik opened #64 "Add upcoming workshops to the homepage"
The home page looks sparse. It would be great to have a sidebar with a list of upcoming workshops and links to them.

[2012-12-12 17:04] gvwilson opened #65 "Update description of intended audience"
Our 'about/audience.html' page is several years old, and could use an update.

[2012-12-12 17:05] karthik commented on #58
I should have been more clear. It doesn't have to be a large badge. I was merely pointing out an example of dates that are easier to read. It could easily just be plain text. `9th June, 2010` is so much friendlier than `2010-06-09`. But I'll stop here and not belabor the point.

[2012-12-12 17:06] gvwilson commented on #64
Agree that existing home page is sparse; if enough other people like a list of upcoming boot camps, that's doable (though a bit painful given our existing web site compiler).

[2012-12-12 17:09] jiffyclub commented on #53
At 16px I think the font is weighty enough that it starts to look bold and conflict with `<strong>` text.

[2012-12-12 17:09] karthik opened #66 "Disqus comments should not be enabled on all pages"
Disqus comments should not be default on all pages. For example, there is no need for anyone to comment on the credits or [team](http://dev.software-carpentry.org/about/team.html) pages.

[2012-12-12 17:11] jiffyclub commented on #64
Actually, if we migrate the boot camps section to the boot-camps repo as I plan to this will become really difficult.

[2012-12-12 17:16] karthik opened #67 "Change default font on the css"
More readable web fonts (and consistent user experience) can be achieved using web fonts. I'd strongly recommend [Adobe Edge Fonts](http://html.adobe.com/edge/webfonts/) which are free and I frequently use them in my [web deck presentations](http://inundata.org/ecolunch).

For source code (`pre` and `code`), I'd recommend [source code pro](http://blogs.adobe.com/typblography/2012/09/source-code-pr

[2012-12-12 17:42] jiffyclub commented on #67
I'll just paste in an email we got from Jeffrey Shelton:

[2012-12-12 17:43] karthik opened #68 "Move contact information to the footer"
In general people may find the need to contact SWC from any page on the site. It makes good (web design) sense to have this information readily accessible from everywhere. I'd suggest making it available in the footer alongside the CC license.

[2012-12-12 18:19] gvwilson commented on #66
It's an easy way for people to report typos --- should we provide a
mailto: link instead?
Cheers,
Greg

[2012-12-12 18:21] karthik commented on #66
Typos and errors are better suited for email (IMO) because once a typo or error is fixed, the comments are no longer relevant and the context would be lost. You can't _close_ a comment like a GitHub issue. So yes, I'd vote for a mailto link over comments for such issues.

[2012-12-12 18:26] gvwilson commented on #66
We can delete comments, but you're right, that's not the same as closing
them.  #68 will take care of this...

[2012-12-12 18:31] karthik commented on #59
Since the framework is Bootstrap, this is easy and [readily available](http://twitter.github.com/bootstrap/components.html#dropdowns). I'm indifferent on this matter but it would make site navigation easier. `About`, for example, could have a dropdown with
- Credits
- Our Team
- Our Audience
- Testimonials
- How to Contribute
- Reading

With bootcamps it could be **upcoming** and **past**. I'd say

[2012-12-12 18:36] gvwilson commented on #59
On 2012-12-12 1:31 PM, Karthik Ram wrote:

In that particular case, I'd actually get rid of the 'About' page
entirely (since the key information is on the home page).

[2012-12-12 18:37] karthik commented on #59
Definitely, that makes sense.

[2012-12-12 18:41] caitsydney commented on #59
Agreed about the ease of site navigation.

For example, getting to Boot Camp > FAQ and Bootcamp > How to Run a Boot Camp can only be accomplished by first going to the Boot Camp page and then looking through the text for the appropriate links. Might increase site traffic to these sub-pages if drop-down menus are implemented? Not sure if there's a reason that the menus haven't been implemented this

[2012-12-12 18:47] jiffyclub commented on #59
I think @gvwilson had some technical aversion to them based on his experience on the existing site. But with Bootstrap I don't worry too much about that, I think their code is high quality.

We just need a good map of what goes in the drop downs. The existing menus on http://software-carpentry.org are rather overloaded and I don't want to just duplicate those.

[2012-12-12 18:50] karthik commented on #59
Agreed. The current version is daunting. All the lectures don't need to be on there. And License could be moved to the footer (a location where people typically look for it) to save space up top.

On Wednesday, December 12, 2012 at 10:48 AM, Matt wrote:

[2012-12-12 20:08] caitsydney commented on #60
I'm trying to learn how to do this, using the TOC here as a template: http://dev.software-carpentry.org/4_0/index.html

Not sure what page.children means... But I think I could get this working pretty quickly if someone explained it to me. Also not sure how/where to put the instructor info. If you want the TOC to update whenever you add new instructors, would each instructor need their own file in

[2012-12-12 20:22] gvwilson commented on #60
We're using Jinja2 as a templating engine: http://jinja.pocoo.org/docs/.
  There are also docs in swc/5.0/website/bin/compile.py, and I'm happy
to answer questions.

[2012-12-13 01:11] jiffyclub commented on #52
Okay, with the latest revision in SVN I think the title/nav behaviour is sensible on small devices.

[2012-12-13 01:15] wking commented on #64
On Wed, Dec 12, 2012 at 09:11:25AM -0800, Matt wrote:

What would the options be?  The boot-camps site could expose something
that the main website would include in an iframe.  The boot-camps site
could also export some JSON which some JS on the main website to
unpack it into a list.  Neither one of those sounds like lots of fun,
but maybe they wouldn't be as bad as I think.  There may also be
ano

[2012-12-13 15:01] caitsydney commented on #47
Based off of the How to Run a Boot Camp (bootcamps/how-to.html), I made a table timeline. Code is here: https://github.com/picken19/swc

Is this what you had in mind? Less detailed, more detailed?

[2012-12-13 15:37] jiffyclub opened #69 "Add contributor guidelines"
Each of our repos should have a [contributing guidelines](https://github.com/blog/1184-contributing-guidelines) file spelling out the expected format and content of material for that repo.

[2012-12-13 15:38] abostroem commented on #33
I'm interested in teaching at this one.

[2012-12-13 15:42] jiffyclub commented on #33
Me too.

[2012-12-13 16:47] gvwilson opened #70 "Create cheat sheets for boot camp participants"
Every topic should have a cheat sheet for participants to refer to (and to keep instructors on topic).

[2012-12-13 17:15] jiffyclub commented on #15
See for starters https://github.com/ptone/nbcast.

[2012-12-13 18:15] karthik commented on #70
I can help with the ones for R and Git. This would be great to develop on the wiki for this repo. If written in markdown, it could easily be converted to pdf for handouts, posting elsewhere etc.

[2012-12-13 18:20] jiffyclub commented on #70
I'd say this should go into the [boot-camps repo](https://github.com/swcarpentry/boot-camps). And not in the wiki, but as actual content.

[2012-12-13 20:51] jiffyclub commented on #55
I added location highlighting in r3421 to the the SVN repo. Which, incidentally, should be the last update to the website via SVN!

[2012-12-13 20:51] #55 closed, assigned to nobody

[2012-12-13 21:32] jiffyclub commented on #5
I think we've concluded that the lack of development on this section of Software Carpentry makes it unnecessary to worry about this. For the time being we're just going to add everything to the git repo. One size mitigation we might make in the future is to move the `3_0` and `4_0` directories to separate repos and add them as submodules in this repo.

[2012-12-13 21:32] #5 closed, assigned to nobody

[2012-12-13 22:09] jiffyclub commented on #5
Actually, I went ahead and did the submodules thing to keep the size of the main repo down.

[2012-12-13 22:16] gvwilson opened #71 "Convert software-carpentry.org email forwarding addresses into real acounts."
admin@software-carpentry.org, info@software-carpentry.org, etc., all forward to @gvwilson right now --- they should instead be real accounts (or all forward to one real account) so that:
1. Project email isn't archived in @gvwilson's private mail folder, and
2. Other people (plural) can deal with things.

[2012-12-13 22:17] gvwilson opened #72 "Add matplotlib to NumPy chapter in instructor's guide"
The NumPy discussion in book/numpy.html should include a brief introduction to plotting.

[2012-12-13 22:53] gvwilson commented on #47
Good starting point --- as soon as we finish switching to Git
(tomorrow?) let's get this merged.
Thanks!
Greg

[2012-12-14 10:44] apawlik commented on #24
I would like to teach too: happy to do basically any of the SC modules. Well, maybe for HPC I'd rather be a helper.

[2012-12-14 14:46] jiffyclub opened #73 "Move 3_0 and 4_0 templates into website repo"
The [3.0](https://github.com/swcarpentry/lessons_3_0) and [4.0](https://github.com/swcarpentry/lessons_4_0) lesson material is in separate repos to keep the size of the main one down. This is great for the lesson data but inconvenient for the lesson page templates, which may need to be updated frequently as the design of the site evolves.

We should move the templates into the main repo and have t

[2012-12-14 18:36] gvwilson opened #75 "Make bin/*.py work with Python 2.6.6"
The host for software-carpentry.org has Python 2.6.6 installed, which:
- doesn't have set comprehensions, and
- has an older version of the ElementTree library for XML

This means we can't run bin/links.py (which uses bin/util.py) to check things after building the web site.  Obviously bad, needs fixed.

[2012-12-14 18:54] jiffyclub opened #77 "Add link to GitHub to the footer"
While we're working on the footer for #68 it'd be a good idea to link to this repo as well.

[2012-12-14 20:45] pipitone commented on #68
Greg suggests "Report a bug" rather than a contact link.   I've  committed this as 59ba4ef in my repo.

[2012-12-14 20:47] pipitone commented on #68
Fixed in 246b38

[2012-12-14 20:48] pipitone commented on #77
Fixed in 246b38.

[2012-12-14 20:48] #77 closed, assigned to pipitone

[2012-12-14 20:49] gvwilson opened #81 "Change text in bug-report 'mailto' link to include page name"

[2012-12-15 00:36] rachelslaybaugh commented on #46
I now live in Pittsburgh and am a Penn State alum. I might be able to help out.
- Rachel Slaybaugh

[2012-12-15 00:49] LJWilliams commented on #42
I would love to, but it is probably to $$$$ to go overseas

[2012-12-15 01:05] gvwilson opened #86 "Some boot camps do not show up in calendar"
Looking at http://software-carpentry.org/bootcamps/index.html, some boot camps do not show up in the calendar. For example, the one-day boot camp on Jan 11 at UBC is not in the calendar, and neither is the two-day boot camp on Jan 21-22.

[2012-12-15 01:06] LJWilliams commented on #59
Maybe not dropdown boxes, but a navigation bar underneath the main header and links to the relevant subpages?

[2012-12-15 01:07] gvwilson opened #87 "Boot camp calendar should be as wide as the canvas"
The Google Calendar on the boot camp index page should be wider (preferably almost as wide as the rendering area). This might also fix the problem that the names of weekend bootcamps (e.g., the three on Jan 12-13) are cut in half and hence unreadable.

[2012-12-15 01:09] #81 closed, assigned to gvwilson

[2012-12-15 01:11] gvwilson commented on #73
I think 4_0/_lesson.html, 4_0/_topic.html, and 3_0/_slideshow.html should stay where they are --- it seems more natural to keep the templates with the things that use them.

[2012-12-15 01:14] LJWilliams commented on #12
If we decide to do this, I am willing to help.  As much as I think R is great for scientific data analysis, it is probably more useful to focus on a more general programming language (besides most of the R packages I use can be called by Python, which makes learning R somewhat redundant except in special cases). It would be helpful to have some units on R in the list of tutorials though (or at lea

[2012-12-15 01:16] #17 closed, assigned to nobody

[2012-12-15 01:16] #16 closed, assigned to nobody

[2012-12-15 01:17] gvwilson commented on #66
Can @karthikram please provide a list of pages that _shouldn't_ have Disqus comments?

[2012-12-15 01:26] karthik commented on #66
http://software-carpentry.org/about/index.html
http://software-carpentry.org/license.html (although weird that there is already a comment there from a month ago. questions about licenses might still be better suited to email though).
http://software-carpentry.org/about/credits.html
http://software-carpentry.org/about/team.html
http://software-carpentry.org/about/audience.html
http://software-carpe

[2012-12-15 01:44] jiffyclub commented on #87
You can do this currently just by setting `width="100%"` on the `<iframe>` element. Same with the map.

[2012-12-15 01:59] caitsydney commented on #2
If I make an entirely new .html page for reorganization, how do I include that file in "make check"?

[2012-12-15 02:08] caitsydney commented on #2
Also, are we only using Mac and vm's now? (Not sure if SWC ever taught how to do all this on a PC without a VM)... So the PC and Unix install instructions would be similar/the same (with the exception of PC users needing to use something like VirtualBox), yes?

[2012-12-15 02:13] gvwilson commented on #2
On 2012-12-14 8:59 PM, Caitlyn wrote:

If you take a look in ./index.html, there are tags like:

[code]

There are similar tags in some other files, along with some like this:

[code]

which matches a bunch of files instead of a single one.  The
bin/compile.py script that builds the web site follows these links
recursively to figure out what to build.  If you want to add a new page,
you can just a

[2012-12-15 02:14] gvwilson commented on #2
Hoo boy --- no, we're still officially supporting Linux, Mac OS X, and
Windows, with Git Bash or Cygwin on the latter.  We'll talk more at
Wednesday's meeting about what we do in 2013 --- there are no good
answers :-(

[2012-12-15 02:38] caitsydney commented on #2
Okay. I'm doing the Mac and Linux stuff first. I'll worry about Windows after Wednesday's meeting I think.

@gvwilson (and others)
Look at this doc and let me know your thoughts? You should be able to edit directly, just comment here when you've had the chance. It's a draft of the navigation grid. I want some feedback before I get too far with the index.html page, cause I want to make sure I cover

[2012-12-15 02:41] gvwilson opened #89 "Where should the up-to-date teaching roster go?"
Where should the list of who's teaching where, currently at http://teaching.software-carpentry.org/staffing/, be put long-term?  It's currently generated automatically from an SQLite database kept offline by @gvwilson (offline because it contains personal information about boot camp attendees and instructors).

[2012-12-15 02:43] gvwilson commented on #2
I like the grid idea a lot. I do _not_ like the idea of Unix VMs on
Windows machines, but I realize other people do, and I realize that's a
quibble compared to the overall grid idea.

[2012-12-15 03:00] #87 closed, assigned to wking

[2012-12-15 03:02] caitsydney commented on #2
So, then you do want to have full PC install instructions, yes? Cygwin and all that, like you mentioned before. Would a VM be a fourth OS column, or would it be combined with the Linux col? I'm going to do a pull request tonight for my forked repo so I can get some feedback on what I've done so far. It's not ready for merging (at all), but I want your opinions... That is ok etiquette for a pull re

[2012-12-15 03:06] gvwilson commented on #2
Best thing right now is to fill in the Mac and Linux columns, and leave
the whole vexed question of Windows 'til after Wednesday's call...

[2012-12-15 03:10] jiffyclub commented on #2
A pull request is fine when looking for feedback on the work you've already done. Just make clear it's not ready so that hopefully no one will merge it.

[2012-12-15 03:11] #66 closed, assigned to karthik

[2012-12-15 03:12] gvwilson commented on #73
Leaving as is.

[2012-12-15 03:12] #73 closed, assigned to nobody

[2012-12-15 03:13] gvwilson commented on #56
Leaving site design as is.

[2012-12-15 03:13] #56 closed, assigned to nobody

[2012-12-15 03:39] jiffyclub commented on #86
This is still just an embed of @gvwilson's calendar, but I'm planning to redo the work @wking I did on #21 to bring it into the Jinja2 build system so that we generate our own calendar feed based on the presence of boot camp advertisement pages.

[2012-12-15 03:42] jiffyclub commented on #68
As @pipitone said, added in 246b38f.

[2012-12-15 03:42] #68 closed, assigned to pipitone

[2012-12-15 03:44] jiffyclub commented on #60
Based on http://software-carpentry.org/about/team.html it looks like @gvwilson took care of this.

[2012-12-15 03:45] gvwilson commented on #60
Yup.

[2012-12-15 03:45] #60 closed, assigned to gvwilson

[2012-12-15 16:40] gvwilson commented on #86
@gvwilson will update the Google Calendar.

[2012-12-15 16:40] #86 closed, assigned to wking

[2012-12-15 16:41] gvwilson commented on #62
Please see updated text on home page (about/index.html has been removed). Pull request with better wording would be welcome.

[2012-12-15 19:15] gvwilson opened #99 "Use logo blue (#20267D) in web pages"
The dark blue in our logo is #20267D; we should use this in the web pages as well, but:
- Making h1-4 titles dark blue is ugly.
- Changing the color of the top menu items is hard (they're in bootstrap.css).

Maybe use dark blue buttons in the footer instead of gray?

[2012-12-15 20:48] jiffyclub commented on #99
It's not that hard to change the navbar colors, I could do that.

We could change the link text color to that blue.

And I'll experiment with the footer elements.

[2012-12-15 21:12] gvwilson commented on #99
On 2012-12-15 3:48 PM, Matt wrote:

Please go ahead and experiment with the navbar text colors and let me
know what you think.  Ditto the footer elements.  Dunno about the links:
the dark blue is hard to distinguish from black, esp. for old eyes or on
small devices, so that probably won't work for usability.

[2012-12-15 23:29] karthik commented on #62
This looks fine to me and I don't really have better wording suggestions at this time. If anything, I'd suggest rewording the first sentence as:

in large(r) font size. Then the rest of the paragraph can flow as follows:

But I'll leave it up to you to accept or ignore the change. Perhaps after some period of involvement with SWC, I'll suggest something better.

[2012-12-15 23:45] gvwilson commented on #62
Sure --- please go ahead and send a pull request with the change.

[2012-12-16 00:45] karthik commented on #62
![image](https://f.cloud.github.com/assets/138494/15245/e32afdd2-4719-11e2-88ca-d6c8b11522cd.png)

[2012-12-16 02:12] caitsydney commented on #62
I agree with the need for a first sentence that orients people about what SWC is.

Software Carpentry helps scientists be more productive by teaching them basic computing skills. >>>
After polling the room of scientists (mostly biologists and computer scientists) I'm in, the best intro "sentences" are:
Better code = more science
Better code for more science
Better code for better science
Learning

[2012-12-16 03:36] jiffyclub commented on #62
Agree with @picken19 that we could use a shorter tagline.

Also don't love the hero unit without some balance for all that bold text (images or something), but I think there is a complete refresh of of the home page in the not-too-distant future so not much point worrying about it now.

[2012-12-16 04:20] jiffyclub commented on #99
Here's a sample of what the navbar could look like turned `#20267D`:
![Screen Shot 2012-12-15 at 11 18 13 PM](https://f.cloud.github.com/assets/920492/15320/d66ddbe6-4737-11e2-8465-efc89acb956e.png)

[2012-12-16 11:50] gvwilson commented on #99
Oh, I think I like that --- yes please.

On 2012-12-15 11:20 PM, Matt wrote:

[2012-12-16 14:56] jiffyclub commented on #99
navbar pull request is #110. Anywhere else seem like a good candidate for blue-ification?

[2012-12-16 18:28] jrsmith3 opened #112 "Blog RSS URL has changed"
It looks like the RSS URL has changed since we switched over to the new website. As a result, I (and I imagine others that subscribed to the old URL) haven't been getting the past few updates.

Here's the old URL (tied to the wordpress blog, I think):

http://software-carpentry.org/blog/feed/

Here's the new one:

http://software-carpentry.org/feed.xml

I don't know if there's a way to redirect fr

[2012-12-16 23:03] gvwilson commented on #112
On 2012-12-16 1:28 PM, Joshua Ryan Smith wrote:

[2012-12-17 00:33] #62 closed, assigned to karthik

[2012-12-17 02:15] pipitone commented on #112
This is related to #100.  That fix handled /feed/, but apparently /blog/feed/ also needs to be handled.

[2012-12-17 02:22] #112 closed, assigned to pipitone

[2012-12-17 14:50] gvwilson opened #119 "Add Google Analytics to new web site"
Analytics stopped working when we turned off WordPress (d'oh).

[2012-12-17 15:42] ethanwhite commented on #7
Since we're not charging folks to attend we could remove references to a lack of refunds in statements about participants being asked to leave.

[2012-12-17 15:44] gvwilson commented on #7
On 2012-12-17 10:42 AM, Ethan White wrote:

Some boot camps are going to try out a nominal fee (e.g., $20) to cut
down on no-shows.  We should probably modify the wording to say "refund
fee if one was charged" or "refund any fee that may have been charged"
or the like?

[2012-12-17 15:47] ethanwhite commented on #7
Sounds good. I like the second option.

[2012-12-17 16:52] katyhuff commented on #7
Instead of "fee," you could call it a "deposit" or an "attendance deposit."

[2012-12-17 18:44] gvwilson commented on #119
Duplicates #120.

[2012-12-17 18:44] #119 closed, assigned to gvwilson

[2012-12-19 16:53] mikej888 opened #127 "Boot camp for the Swedish National Supercomputing Centre"
As requested by Torben Rasmussen via David Henty of EPCC.

[2012-12-19 17:43] karthik commented on #29
Happy to organize this but I'll need some help getting this together since this is my first time running a workshop.

[2012-12-19 17:43] caitsydney commented on #26
Me too.

[2012-12-19 17:45] caitsydney commented on #31
I'd like to help arrange this conference. I'm interested in getting SWC at UW-Oshkosh, and going through the process of setting one up at UW-Madison would help.

[2012-12-19 18:03] ethanwhite commented on #72
I'm happy to help with this.

[2012-12-19 18:22] wking commented on #8
In the recent conference call, Greg suggested getting back-signoffs
for past commits.  For the Subversion stuff, this may not be very
complicated (I don't know enough about Subversion to know), but it
will probably cause a problem in Git.  Editing existing commit
messages to add s-o-b lines will change the commit hash, and you'll
get all the usual problems from publishing rewritten history [1](htt

[2012-12-19 18:52] wking commented on #75
On Fri, Dec 14, 2012 at 10:36:27AM -0800, Greg Wilson wrote:

These should have been fixed by #118.

[2012-12-19 18:56] wking commented on #63
On Wed, Dec 12, 2012 at 08:59:36AM -0800, ahmadia wrote:

This should probably link to a list of contributors, instead of
linking to the SWC homepage.

[2012-12-19 19:02] wking commented on #89
This looks like per-boot-camp metadata that should be stored with the
other metadata.  See, for example, [1](https://github.com/swcarpentry/website/issues/21#issuecomment-11451150).

[2012-12-19 19:16] wking opened #128 "Bundled PyRSS2Gen uses the BSD (not MIT) license"
SWC claims distributed code is licensed under the [MIT license](http://opensource.org/licenses/mit-license.php), but it bundles [PyRSS2Gen](http://www.dalkescientific.com/Python/PyRSS2Gen.html), which is released under the [BSD license](http://opensource.org/licenses/bsd-license.php).  Possible solutions:
- Require maintainers to install PyRSS2Gen independently and add it to the list of prerequisi

[2012-12-19 19:37] gvwilson commented on #89
Information on past boot camps can go in boot camp page metadata, but
where do we store info on yet-to-be-scheduled not-yet-public
still-in-discussion boot camps?

[2012-12-19 20:45] wking commented on #89
On Wed, Dec 19, 2012 at 11:37:32AM -0800, Greg Wilson wrote:

If things are public/scheduled enough to go in
http://teaching.software-carpentry.org/staffing/, they should be ready
for an entry in bootcamps/.  Information that's more tentative will
probably go in the bootcamp issue (e.g. #26, [1](https://github.com/swcarpentry/website/issues/26)).

It's hard for me to imagine date/instructor inform

[2012-12-19 21:55] ahmadia commented on #72
We have some material that could be reused from
https://github.com/pyhpc/pyhpc-tutorial

If you want to add plotting, @gvwilson, then I suggest you consider
renaming the section to something like "scientific computing with Python",
as the actual numpy stack is sort of 1/3 of the matplotlib/scipy/numpy
trifecta that make up the basics.

A

On Wed, Dec 19, 2012 at 1:03 PM, Ethan White notifications@

[2012-12-19 22:18] acviana commented on #31
Hi, I'd like to help as well. I'm an undergrad alumnus from the Astronomy Department living on the East Coast right now. I could probably help pull in some people from the Astronomy and Physics Departments to attend.

[2012-12-19 22:24] pipitone commented on #128
Good catch.

Another solution: rewrite using native python libraries.  It really wouldn't be difficult, and I'll volunteer to do it.

[2012-12-19 22:32] scopatz commented on #128
This seems easy enough. Or actually, the easiest for all parties.

[2012-12-19 22:55] gonuke commented on #31
I'll take the lead here and try to pull together some structure over the next few weeks, aiming for late April (pre Condor Week).  Might also pull something off at Spring Break, but less likely.

[2012-12-19 22:58] katyhuff commented on #31
Of course, I can always help out in Madison.
Maybe I can defend by late April, eh @gonuke !? :)

[2012-12-19 23:29] joonro commented on #72
I'm happy to contribute as well!

[2012-12-19 23:41] ahmadia commented on #63
Agreed, I was just mocking something up quickly.

[2012-12-19 23:43] ahmadia commented on #127
Depending on timing, I may be able to help organize or teach at this one.

[2012-12-20 03:08] pipitone opened #131 "Blog index page should show full text of blog posts"
Currently on software-carpentry.org/blog/index.html we just show excerpts of each blog post, but why not show the entire post content instead like most blogs (and like we do in our RSS feed now)?

[2012-12-20 14:19] gvwilson commented on #128
Can @wking or @scopatz submit a patch that modifies license.html with appropriate wording?

[2012-12-20 14:58] gvwilson commented on #131
Closed by 9de4d97.

[2012-12-20 14:58] #131 closed, assigned to gvwilson

[2012-12-20 15:28] wking commented on #1
Where is this going to live, and what format will it be in?  Are we looking for more LibreOffice slides to match the existing Subversion material?  That seems to run contrary to #5:

On Wed, Dec 12, 2012 at 08:18:29AM -0800, Greg Wilson wrote:

On the other hand, I'm not sure what the alternative is.  If I'm going to take a stab at synthesizing the Git material, what format would people like to se

[2012-12-20 15:32] gvwilson commented on #1
Still TBD.

[2012-12-20 15:37] wking commented on #3
The pre-assessment (and post assessment in #4 [1](https://github.com/swcarpentry/website/issues/4)) seem sufficiently
distinct from the website content that I could see them living in
their own repository.  Any ideas on storage location / assessment
format (HTML?).  Then we can commit the samples from the recent
conference call reminder and procede with a more structured
discussion.

[2012-12-20 15:39] wking commented on #1
On Thu, Dec 20, 2012 at 07:32:46AM -0800, Greg Wilson wrote:

Perhaps a blocking "Decide on lecture format of the future" issue
would help focus discussion in this direction?

[2012-12-20 15:40] gvwilson commented on #3
Currently constructing 'assets' repository for files like this ---
should have it in place in a couple of hours.

[2012-12-20 15:43] wking commented on #69
This is related to the DCO comment I made for the boot-camps repository: https://github.com/swcarpentry/boot-camps/pull/1#issuecomment-11295191

I can write up a similar PR for this repository once someone tells me we're ready to move forward.

[2012-12-20 15:53] jiffyclub commented on #1
+1 to the "decide on lecture format" issue, though I'm actually in favor of just letting people submit whatever the hell they want as long as it's not large binary files.

[2012-12-20 18:01] wking commented on #1
On Thu, Dec 20, 2012 at 07:53:11AM -0800, Matt wrote:

I agree with this so much that I don't even have a preference for
format ;).  I just want someone to tell me what format to use when
coding up a Git/GitHub lecture pull request.  Presumably anything
other than Jinja/HTML will need compile.py support, but there are no
recent non-ODP lectures to use as examples.

[2012-12-20 18:02] gvwilson commented on #1
Working on it...
G

[2012-12-20 18:30] jiffyclub commented on #1
I'd assume this will actually go into the boot-camps repo, so for simplicity you could just stick to a lesson plan in Markdown for starters.

[2012-12-20 18:41] wking commented on #1
On Thu, Dec 20, 2012 at 10:30:08AM -0800, Matt wrote:

Ah, I think there will be entries in the website repository (with
other lecture material), in the boot-camps repository, and in the
assets repository (as a book chapter/section).  Since this issue is
against the website repository, I'd assumed it was calling for a
lecture entry in the website repository.

There are a number of good Git tutoria

[2012-12-20 18:52] gvwilson commented on #1
Please let's defer this until I've had a chance to think about formats
for non-Python teaching material going forward.

[2012-12-21 14:59] gvwilson opened #145 "Reduce space below blog titles in blog/index.html"
Looking at http://software-carpentry.org/blog/index.html, there's an awful lot of white space below blog entry titles --- it makes the titles look like they belong to the items above, rather than below.

[2012-12-21 20:06] emhart commented on #41
I could help.  I could do anything but early feb when Ethan is here and I'm busy from March 23rd on.

[2012-12-22 18:59] gvwilson opened #149 "Write bullet point summary and cheat sheet for Unix shell"
- Work with @dhavide.
- Supercedes #70.
- Put Markdown draft in swcarpentry/boot-camps/shell.md

[2012-12-22 19:00] gvwilson opened #150 "Write bullet point summary and cheat sheet for basic Python"
- Work with @picken19.
- Supercedes #70.
- Put Markdown draft in swcarpentry/boot-camps/python.md

[2012-12-22 19:01] gvwilson opened #151 "Write bullet point summary and cheat sheet for regular expressions"
- Work with @emhart.
- Supercedes #70.
- Put Markdown draft in swcarpentry/boot-camps/regexp.md

[2012-12-22 19:05] gvwilson opened #152 "Write bullet point summary and cheat sheet for testing"
- Work with @benwaugh.
- Supercedes #70.
- Put Markdown draft in swcarpentry/boot-camps/quality.md

[2012-12-22 19:07] gvwilson opened #153 "Write bullet point summary and cheat sheet for Git"
- Work with @picken19.
- Supercedes #70.
- Depends on #1.
- Put Markdown draft in swcarpentry/boot-camps/git.md

[2012-12-22 19:08] gvwilson opened #154 "Write bullet point summary and cheat sheet for SQL and relational databases"
- Work with @ethanwhite.
- Supercedes #70.
- Put Markdown draft in swcarpentry/boot-camps/db.md

[2012-12-22 19:10] gvwilson commented on #70
Superceded by #149, #150, #151, #152, #153, and #154.

[2012-12-22 19:10] #70 closed, assigned to nobody

[2012-12-22 21:34] gvwilson commented on #75
Fixed.

[2012-12-22 21:34] #75 closed, assigned to nobody

[2012-12-22 21:35] gvwilson opened #156 "Boot camp for University of Delaware"

[2012-12-22 21:37] gvwilson commented on #7
Completed.

[2012-12-22 21:37] #7 closed, assigned to nobody

[2012-12-22 21:41] gvwilson opened #157 "Create graphic for 'Participant' badge."
Create a graphic similar to the 'creator', 'learner', etc. badges for people who have participated in boot camps.

[2012-12-22 21:42] gvwilson opened #158 "Create certificate templates to go with badges"
Create full-page PDF certificate templates for each of the badges we award.

[2012-12-22 21:43] gvwilson commented on #14
Badges issued 2012-12-20.

[2012-12-22 21:43] #14 closed, assigned to nobody

[2012-12-23 18:57] gvwilson opened #161 "Create blog index by author and topic"
We currently index by date alone; need to have an index by author, and another by topic.

[2012-12-24 04:13] acviana commented on #154
Hi, so what form should this content take? Ipynb? Txt? Pdf? Roughly a page for the cheat sheet?

[2012-12-27 02:57] gvwilson opened #162 "Boot camp for HHMI"
- Contact at Howard Hughes Medical Institute is Gabe Murphy
- http://software-carpentry.org/bootcamps/2013-05-hhmi.html

[2012-12-27 22:22] emhart commented on #35
I have a friend at the USGS in Denver that we could use to help with this.  I'd also be happy to fly out and help with in.

[2012-12-27 22:23] emhart commented on #33
I'm interested in this one as well.

[2012-12-27 22:25] emhart commented on #30
I'm interested in this one.

[2012-12-27 22:25] emhart commented on #29
I'm happy to help with this one.

[2012-12-28 13:52] gvwilson commented on #25
Preferred dates are May 6-7 or May 9-10; audience will mostly be oceanographers.

[2012-12-28 13:58] gvwilson opened #163 "Boot camp for Tufts University"
- June 3-4 at Boston campus
- Instructors are @jesstess, @ahmadia, @selik, @wltrimbl

[2012-12-28 14:03] cozzini commented on #25
I am at disposal

[2012-12-28 14:05] ethanwhite commented on #154
As per Greg's email everything should be in Markdown.

I just posted a draft of the outline as a pull request for comment:
https://github.com/swcarpentry/boot-camps/pull/5

[2012-12-28 14:45] justincely commented on #25
I love the ocean!! I'd be available, if not speaking german and being half the world away isn't an issue.

[2012-12-28 16:24] emhart commented on #41
I'm still good if we do it in March...

[2012-12-29 17:47] wking commented on #128
Closed with #155 (allowing alternative licenses if they are clearly labeled in the file itself).

[2012-12-29 17:47] #128 closed, assigned to nobody

[2012-12-29 18:00] wking commented on #61
On Wed, Dec 12, 2012 at 08:45:22AM -0800, Greg Wilson wrote:

Is this independent of #21 [1](https://github.com/swcarpentry/website/issues/21)?

I think the map should be auto-generated using the GitHub API and the
`latlng` metadata from the boot camp page.  Along the lines of the
proposed Jekyll-generated map [2](https://github.com/jiffyclub/boot-camps/tree/map-calendar), but addapted to compile.

[2012-12-29 18:04] gvwilson commented on #61
The key (pin color <=> meaning) is a static thing, while the map itself
is dynamic, so I thought these would be two separate fixes.

On 2012-12-29 1:00 PM, W. Trevor King wrote:

[2012-12-29 22:39] ethanwhite commented on #154
The pull request was accidentally merged, so just take a look at [the file](https://github.com/swcarpentry/boot-camps/blob/master/sql_outline.md) and let me know if you recommend any changes.

[2012-12-30 00:37] jiffyclub commented on #69
I've started working on some guidelines for the boot-camps and notebooks repos.

[2012-12-30 18:36] ethanwhite commented on #154
And a draft of the Cheat Sheet is now up as a pull request for comment:
https://github.com/swcarpentry/boot-camps/pull/7

[2012-12-30 18:59] gvwilson commented on #8
This conversation has become a bit scattered, which is completely my fault, so:
1. The 'website' repo will have the complete, authoritative wording of our license (in 'license.html', as is) and the guidelines for contributors (which will go in a new file 'contributing.html' in the root directory of the 'website' repo.
2. The 'contributing.html' page will say that by submitting material for inclusi

[2012-12-30 19:23] wking commented on #8
On Sun, Dec 30, 2012 at 10:59:48AM -0800, Greg Wilson wrote:

I'd prefer a plain-text CONTRIBUTING or a Markdown CONTRIBUTING.md to
take advantage of GitHub's extra visibility [1](https://github.com/blog/1184-contributing-guidelines).

I can't give good wording here.  I can link you to the DCO wording,
but if that's not acceptable, you'll probably want a real lawyer to
chime in.

Works for me.

Th

[2012-12-30 19:28] gvwilson commented on #8
On 2012-12-30 2:24 PM, W. Trevor King wrote:

I want the material to appear on software-carpentry.org as well --- if
we're willing to complicate our tool chain a bit, we could translate
CONTRIBUTING.md to create contributing.html, pull content from that, and
include it in build/contributing.html in order to avoid duplication, but
bleah.

Re-send the DCO wording and I'll craft something, then add i

[2012-12-30 19:40] wking commented on #8
On Sun, Dec 30, 2012 at 11:28:23AM -0800, Greg Wilson wrote:

Or we can just duplicate this almost entirely static content ;).

https://github.com/wking/signed-off-by/blob/master/Documentation/SubmittingPatches

Moderation in all things? ;)

[2012-12-30 19:48] wking opened #175 "book/web.py: Mention Python's built-in HTTP servers"
For practicing these things in class (or running tiny sites), the built-in Python servers are useful.  In Python 3:

[code]

In Python 2:

[code]

It's probably a good idea to mention them somewhere in the text.

[2012-12-31 22:58] wking commented on #8
[code]

I don't have a good way to explain why you'd want this to be explicit
for past contributors, but implicit for future contributors.  If
you're dropping sign-offs for new folks, you should probably come up
with a clear phrasing for your motivation to avoid weirding people out
;).

Here's what I'd say, adjust as needed (and probably run it by a
lawyer):

Subject: License sign-off for earlier

[2013-01-01 02:21] goxberry commented on #8
One question I have as someone new to the project: Are there any directions on _how_ one can contribute, sort of like developer documentation for an open source project? I wholeheartedly believe in the goals and message of Software Carpentry, but there's a bewildering amount of material in the repos. I looked around for guidelines on contributing on the development side, and what I found was [the

[2013-01-01 11:54] wking commented on #8
On Mon, Dec 31, 2012 at 06:21:48PM -0800, Geoffrey Oxberry wrote:

Currently this is not documented.  It will probably be “look at
similar stuff in the repository for inspiration”, but you can also
submit whatever you like and we'll comment in the pull request.

For the website, it's just “match what's already there”.  For the boot
camps, there's a preliminary outline [1](https://github.com/swcarp

[2013-01-01 11:59] wking commented on #39
I just tested my “Linux” scripts on 10.6.8 and they work there too.  I
don't think we need different scripts for OS X.  If we get to the
point where we want to provide installation suggestions (instead of
just telling the user what they have installed), it will be easy
enough to switch on `os.name` to select the appropriate hint.

[2013-01-01 12:05] wking commented on #40
I expect my “Linux” script will work on MS Windows too, but I don't
have a Windows box available for testing.  Can someone with a Windows
box check the following and report back with the output:

  $ git clone -b installation-test --single-branch git://github.com/wking/swc-website.git
  $ cd swc-website
  $ python swc-installation-test-1.py
  Passed
  $ python swc-installation-test-2.py
  check vi

[2013-01-01 16:10] wking commented on #47
On Thu, Dec 13, 2012 at 07:01:43AM -0800, Caitlyn wrote:

Since there will be a fair amount of overlap, can we just restructure
`how-to.html` to make the timeline information more explicit?  Perhaps
we just need checklist entries that go further into the pre-workshop
time period (no anchors in how-to.html, so I can't link directly to
the “Checklists” section).

[2013-01-01 16:28] wking commented on #63
On Wed, Dec 19, 2012 at 01:56:22PM -0500, W. Trevor King wrote:

After #177 gets in (assuming it does), generating a list of
contributors is easy:

   $ git log --pretty='format:%aN <%aE>' | sort | uniq

Of course, without history from the Subversion years, we'll probably
have to add some additional tweaks.  For most of my projects, I use my
update-copyright helper script [1](http://pypi.python.or

[2013-01-01 16:46] jiffyclub commented on #8
Style and organization are definitely the types of things that will be documented in the contributing guidelines (at minimum there will be links to other docs). swcarpentry/boot-camps#6 is a start for that repo, for other repos we still need to work on the docs.

[2013-01-01 18:46] wking commented on #43
More guidelines about the target level of security would be useful.
For example:
1. Can we trust BitBucket?
2. Can we trust DreamHost (or wherever sw-c.o is hosted)?
3. Can we trust unencrypted email?

Let's worry about securely sharing something (even the raw SQLite DB)
before we start worrying about versioning it.

[2013-01-01 19:11] wking commented on #3
On Thu, Dec 20, 2012 at 07:40:57AM -0800, Greg Wilson wrote:

Now that it's in place and the 5.1 assements are added
(swcarpentry/assets#1), should this issue (and #4) be closed?

[2013-01-01 20:03] wking commented on #11
On Wed, Dec 12, 2012 at 08:38:08AM -0800, Greg Wilson wrote:

I think RDF and the SemanticWeb are going to be hard for novices to
digest if the've never even seen HTML.  This sort of thing makes sense
if your first impulse is “how can I get my computer to do this for
me”, but it's harder when you're thinking “I think I'm full of new
ideas, where's the coffee?” ;).

Can you break your initial topic

[2013-01-02 02:00] wking commented on #161
I'm still not entirely convinced that rolling our own blogging engine
is the way to go here.

[2013-01-02 02:07] wking commented on #15
When I asked about TowTruck [1](http://github.com/mozilla/towtruck), Ian Bickering also pointed me towards
Browser Mirror [2](http://github.com/mozilla/browsermirror).  Both are works in progress, but deal with passing
DOM events between browsers.

[2013-01-03 00:36] snacktavish commented on #151
I'm on it!

[2013-01-03 13:25] wking commented on #161
On Thu, Jan 03, 2013 at 08:03:40AM -0500, Greg Wilson wrote:

It looks like arbitrary metadata is pretty easy to use [1](http://docs.getpelican.com/en/3.1.1/faq.html#can-i-use-arbitrary-meta-data-in-my-templates).  Also, the
engine building the `blog/` directory does not need to be the same as
the engine building the rest of the site.  One problem with the
current `compile.py` is that one a page d

[2013-01-03 13:43] gvwilson opened #181 "Write guest blog post for Mendeley"

[2013-01-03 14:42] gvwilson commented on #25
- Dates are May 6-7
- @justincely and @cozzini will teach

[2013-01-03 14:43] cozzini commented on #25
Booked on my agenda.

[2013-01-03 14:47] gvwilson commented on #39
Agreed: should we use 'posix' and 'win32' as names (since that's what
os.name returns)?
Thx,
G

On 2013-01-01 6:59 AM, W. Trevor King wrote:

[2013-01-03 14:53] gvwilson commented on #162
- @adina is interested in instructing
- Most likely dates are May 2-3 or May 6-7

[2013-01-03 14:57] gvwilson commented on #47
Seems sensible --- I've assigned this to @amyrbrown to consolidate.

On 2013-01-01 11:10 AM, W. Trevor King wrote:

[2013-01-03 15:02] gvwilson commented on #43
I have a file containing names and email addresses for boot camp
participants, and home addresses for instructors.  Going forward, we'll
also need to store things like travel expense claims.  Agreed that
versioning is a secondary concern, but I would like offline editing to
be possible.

On 2013-01-01 1:46 PM, W. Trevor King wrote:

[2013-01-03 15:07] gvwilson commented on #3
Replaced by https://github.com/swcarpentry/assets/issues/11.

[2013-01-03 15:07] #3 closed, assigned to nobody

[2013-01-03 15:08] gvwilson commented on #4
Replaced by https://github.com/swcarpentry/assets/issues/12

[2013-01-03 15:08] #4 closed, assigned to nobody

[2013-01-03 15:09] gvwilson commented on #3
I've opened two new tickets as replacements:
- https://github.com/swcarpentry/assets/issues/11
- https://github.com/swcarpentry/assets/issues/12

On 2013-01-01 2:11 PM, W. Trevor King wrote:

[2013-01-03 15:30] wking commented on #39
On Thu, Jan 03, 2013 at 06:47:19AM -0800, Greg Wilson wrote:

I'm fine with that, but we could also use `platform.system().lower()`
for marketing-style names [1](http://docs.python.org/2/library/platform.html#platform.system).

[2013-01-03 15:36] wking commented on #43
On Thu, Jan 03, 2013 at 07:02:39AM -0800, Greg Wilson wrote:

So are all of the sharing options I listed earlier [1](https://github.com/swcarpentry/website/issues/43#issuecomment-11791668) acceptable?

If you share the SQLite database (or it's dump) somehow, interested
(and authorized) parties could keep local copies and send you changes
(as SQL commands).  You integrate those changes (and your ow

[2013-01-03 15:37] ethanwhite opened #182 "Run bootcamp at University of British Columbia February 5-6, 2013"
@emhart is organizing. @ethanwhite and @emhart will teach.

[2013-01-03 15:45] ethanwhite opened #183 "Run bootcamp at Utah State University March 23-24"
@dmcglinn is organizing. @ethanwhite and @dmcglinn will teach. We are currently trying to obtain funding for an out of town instructor if anyone is interested in helping out.

[2013-01-03 17:13] rmdickson opened #184 "Firefox add-on instruction should be "Web Developer" not "Tools""
http://software-carpentry.org/setup/common.html says "When Firefox restarts, Select Tools => SQLite Manager", but this is unavailable in Firefox 17.0.1.

Should read "When Firefox restarts,select Web Developer => SQLite Manager"

[2013-01-03 17:34] ethanwhite opened #185 "Some URLs showing up in Google are not resolving"
I just ran across a http://software-carpentry.org URL in Google's index that isn't resolving on the new site:

http://software-carpentry.org/blog/2012/01/settings-our-sights-a-little-bit-lower/trackback/

It 404s on a slightly different page:

http://software-carpentry.org/blog/2012/01/settings-our-sights-a-little-bit-lower/trackback.html

Without the `trackback` portion of the URL it resolves fin

[2013-01-03 17:38] gvwilson commented on #41
- @emhart and @adamsonj will teach

[2013-01-03 17:39] ethanwhite commented on #184
This is actually a little bit OS dependent because Ubuntu by default doesn't use the big orange button in order to allow integration with it's HUD system, in which case it is located under Tools, but I definitely agree that this should be updated to the more common form perhaps with a parenthetical for Ubuntu users.

[2013-01-03 17:47] ian-mitchell commented on #40
I'm running cygwin.  The current version of git in cygwin is 1.7.9, so I don't have the --single-branch option.  However, after removing that option, I was able to clone the whole repository and get the correct branch.

I've got EPD 7.3-2 installed (so I can run ipython and load scipy, numpy, etc), but I'm guessing that my cygwin installation (where I ran these test scripts) cannot see the EPD ins

[2013-01-03 18:04] wking commented on #40
On Thu, Jan 03, 2013 at 09:47:28AM -0800, Ian M. Mitchell wrote:

OK.

No problem.  The only downside is that you're downloading ~300 M of
repository instead of ~132 K ;).

Probably not.  And it looks like it can't see native Windows
executables either?

This is very strange.  Do you really have a separate versions of
Mercurial for the executable and Python package?

This is the last failure from

[2013-01-03 18:09] wking commented on #184
I think this was one of the side effects of the whole “version numbers
are scary” mindset [1](https://bugzilla.mozilla.org/show_bug.cgi?id=678775) ;).

[2013-01-03 19:03] rmdickson commented on #40
Like Ian I'm working in Cygwin.  I had some packages not installed, and the script correctly failed those ones, and it correctly found a bunch of others.  I'll omit that verbiage.  The two weirdnesses were Mercurial and nosetests:

$ which nosetests hg
/usr/bin/nosetests
/usr/bin/hg

$ hg --version
Mercurial Distributed SCM (version 2.3.1) ...

$ nosetests --version
nosetests version 1.1.2

$ pyth

[2013-01-03 19:04] rmdickson commented on #40
Eh... Markdown.  Forgot about that.  Oh well.

[2013-01-03 19:05] ian-mitchell commented on #40
On Thu, 3 Jan 2013, W. Trevor King wrote:

Most of those native Windows executables are probably not on the path.
Since Windows installers spread the binaries / batch files all over
the place, I haven't bothered to add them to the path (or create
shortcuts) except for those few that I start from the cygwin prompt.

My guess is that most Windows users (and certainly fresh cygwin
installs) would be

[2013-01-03 19:13] wking commented on #40
On Thu, Jan 03, 2013 at 11:03:42AM -0800, Ross Dickson wrote:

This looks good.

This is odd.  What do you get with `which hg.exe`?

Maybe we should be emptying CommandDependency.exe_extension on Cygwin?

[2013-01-03 19:19] gvwilson commented on #39
I'm good either way --- only difference is that Linux and Mac both
report 'posix' for os.name.  Your call...

On 2013-01-03 10:30 AM, W. Trevor King wrote:

[2013-01-03 19:19] gvwilson commented on #185
Good catch --- Jon?
Thx,
G

On 2013-01-03 12:35 PM, Ethan White wrote:

[2013-01-03 19:24] pipitone commented on #185
Ethan's right.  We're currently not handling trackback URLs.

Perhaps a 410 (Gone) error code is more apt?

Jon.

On Thu, Jan 3, 2013 at 2:19 PM, Greg Wilson notifications@github.comwrote:

[2013-01-03 19:26] gvwilson commented on #185
Jon's call.

On 2013-01-03 2:24 PM, pipitone wrote:

[2013-01-03 19:27] wking commented on #40
On Thu, Jan 03, 2013 at 11:05:06AM -0800, Ian M. Mitchell wrote:

For most commands (including `hg`), it runs (in
`CommandDependency._get_version_stream`):

  COMMAND --version

To find `COMMAND`, it takes the basic command name (e.g. `hg`) and
appends `CommandDependency.exe_extension` (e.g. `.exe`).  I set up
`exe_extension` using:

  distutils.ccompiler.new_compiler().exe_extension

but maybe th

[2013-01-03 19:28] wking commented on #39
On Thu, Jan 03, 2013 at 11:19:13AM -0800, Greg Wilson wrote:

Then if we want different instructions for Linux/Mac, we should
probably use `platform.system().lower()`.

[2013-01-03 19:33] pipitone commented on #185
Okay, I'll work on a fix to return a 410.

[2013-01-03 19:48] ian-mitchell commented on #40
On Thu, 3 Jan 2013, W. Trevor King wrote:

Okay, that explains it.  By appending '.exe' the script gets my
TortoiseHg version of mercurial:

mitchell@armstrong ~/Workshops/SWCarpentry/CheckMyMachine/swc-website
$ where hg
C:\cygwin\bin\hg
C:\Program Files\TortoiseHg\hg.exe

The former in the setup instructions, the latter in the test scripts.

After pulling the modified test script, here is the re

[2013-01-03 20:01] wking commented on #40
On Thu, Jan 03, 2013 at 11:48:06AM -0800, Ian M. Mitchell wrote:

Should I check with and without exe_extension and take the maximal
version?  Should I check only without exe_extension on Cygwin?  Should
we just try and set our minimum versions as low as possible and stick
to only testing the exe_extension location?

OK.  This means MS Windows users need to start sending me PATH
suggestions ;).  W

[2013-01-03 21:01] ethanwhite commented on #183
We have now secured funding for an out of town instructor.

[2013-01-03 21:22] gvwilson commented on #161
On 2013-01-03 8:25 AM, W. Trevor King wrote:

[2013-01-03 21:49] wking commented on #161
On Thu, Jan 03, 2013 at 01:22:59PM -0800, Greg Wilson wrote:

This seems like a minor patch on Pelican.  I'll see if I can get it
working.

Or you could have an engine that gives each template access to the
consolidated data.  Fast and elegant ;).

Possibly ;).  I'm posting my Pelican translation in my `pelican` branch:

  https://github.com/wking/swc-website/tree/pelican

Anyone who's interested

[2013-01-03 22:04] ethanwhite commented on #40
This works perfectly on Windows 7 using GitBash (http://msysgit.github.com/) with EPD. GitBash uses the native Windows path so it sees all of the installed programs.The one thing that is missing is `make`, which is apparently not installed with GitBash, but since we don't typically use `make` in workshops that shouldn't be a problem.

[2013-01-03 23:38] wking commented on #161
On Thu, Jan 03, 2013 at 04:49:09PM -0500, W. Trevor King wrote:

I think my Pelican proof of concept is now feature-complete.  What's
left to do:
- Translate content to Markdown (or ReST).  In the proof of concept, I
  just used the “HTML is valid Markdown” loophole and changed the
  extensions ;).
- Design a template system and styling.  I don't expect translating
  this from the current stuff to

[2013-01-03 23:42] wking commented on #161
I've posted my gently patched fork of Pelican on

  https://github.com/wking/swc-website/tree/pelican-fork

I expect the three PRs it contains (getpelican/pelican#661,
getpelican/pelican#662, and getpelican/pelican#663) will be accepted
shortly, since I didn't do anything too drastic.

[2013-01-04 00:14] gvwilson commented on #161
Hi Trevor,

[2013-01-04 00:22] wking commented on #161
On Thu, Jan 03, 2013 at 04:15:00PM -0800, Greg Wilson wrote:

Then we at least need to de-indent a bunch of book material so
Markdown doesn't decide it needs `<pre>` wrappers.

Nothing interesting happens in the templates ;).  My changes on top of
the `bootstrap` template I started with were:
- theme/templates/map.html     | 11 +++++++++++
- theme/templates/authors.html | 11 +++++++++++
- theme/te

[2013-01-04 01:51] pipitone commented on #185
Fixed in commit 69a1c11

[2013-01-04 01:51] #185 closed, assigned to pipitone

[2013-01-04 01:53] pipitone commented on #44
No can do.  At least, not on dreamhost, because Etherpad requires a tomcat server which [they don't provide](http://wiki.dreamhost.com/Etherpad).

[2013-01-06 12:43] gvwilson opened #191 "Boot camp for Ontario Institute for Cancer Research (OICR) 2013-05-07"
- Contact is Paul Boutros (SWC alumnus)
- Half-day on May 7, 2013

[2013-01-06 13:01] #61 closed, assigned to jiffyclub

[2013-01-07 22:19] pipitone opened #194 "Check software-carpentry.org httpd logs for 404 we ought to redirect"
It might be worth a quick scan over the last few weeks of apache logs on software-carpentry.org to see if there any 404 hits that represent links to our old wordpress site that we should be redirecting to somewhere on the new site.

[2013-01-08 18:48] amyrhoda opened #196 "Review FAQ"
Have a look at the FAQ and either fix it so it doesn't make you cringe or write me some notes to tell me what's wrong with it and I will fix it so it doesn't make you cringe.

[2013-01-08 18:54] amyrhoda opened #198 "Inconsistent use of "Workshop"/"Boot camp""
On the Boot Camps page (http://software-carpentry.org/bootcamps/index.html) the subheads refer to Boot Camps as Workshops. Even if we occasionally refer to boot camps as workshops (particularly when defining the "boot camp" terminology) we should use Boot Camp in headers.

[2013-01-08 18:55] gvwilson commented on #198
Everything should be 'boot camp' (with the space, not one word). Please edit where needed.

[2013-01-08 19:00] amyrhoda opened #200 "Move FAQ link to somewhere it's findable"
There is currently no link to the FAQ that's easy to find. We need to move it to the front page.

(This is dependent on completing Issue #196 but I don't know how to define dependencies in Git yet.)

[2013-01-08 19:02] amyrhoda commented on #198
Do we need a style sheet? Or is that my inner obsessive editor talking? ("Inner?")

[2013-01-08 19:34] gvwilson commented on #198
On 2013-01-08 2:02 PM, Amy Brown wrote:

[2013-01-08 19:42] wking commented on #200
On Tue, Jan 08, 2013 at 11:00:46AM -0800, Amy Brown wrote:

GitHub issues don't have explicit dependency metadata.  You just make
a comment (like you did), and hope that interested parties will read
your comment.

[2013-01-08 20:54] gvwilson commented on #200
Closed by e558b72.

[2013-01-08 21:00] wking commented on #200
On Tue, Jan 08, 2013 at 12:55:00PM -0800, Greg Wilson wrote:

Definately not required, but `hub` makes it easy to attach pull
requests to existing issues [1](https://github.com/defunkt/hub#git-pull-request):

[code]

[2013-01-08 21:16] #200 closed, assigned to gvwilson

[2013-01-08 22:06] gvwilson commented on #65
1. Descriptions need to be about 1/3 shorter.
2. Description of Helen Helmet needs to say that she'll learn something from the boot camp, but could help with some of it, and will soon be ready to start thinking about becoming an instructor (and that we offer training for people who want that).
3. Mehrdad Mapping's description needs to be changed to say, "It'll be a challenge, but he'll still get s

[2013-01-08 22:13] selik commented on #162
I'd like to join as an instructor.
I expect to have helped out with at least one bootcamp by then.

[2013-01-09 00:54] qingpeng commented on #162
I'm glad to be a backup instructor or TA. :)

[2013-01-09 12:28] gvwilson opened #202 "Design PDF certificate for DiRAC "driver's license" exam"
People who successfully complete the "driver's license" exam we have put together for the DiRAC supercomputing consortium (http://www.stfc.ac.uk/Our+Research/24711.aspx) will need a PDF certificate as well as a badge of some kind.

[2013-01-10 14:52] gvwilson opened #206 "Boot camp for Clemson University"
- Target date is Feb 13, 2013

[2013-01-10 16:22] gvwilson opened #207 "Bootcamp for Wuhan Institute of Virology"
- Summer 2013
- @kcranston is organizing
- Prefer people who are already in East Asia (to keep travel costs down)

[2013-01-10 16:23] gvwilson commented on #207
@karthikram is interested

[2013-01-10 17:05] karthik commented on #207
Karen: Just to repeat what I told Greg, if someone can cover my airfare from Hong Kong, I could do this. Let me know.

[2013-01-10 17:53] goxberry commented on #28
I could talk to my bosses about doing one of these. It's unlikely that I'd be able to do both, but I'd definitely like the experience. Will the latest study group be done (or nearly done) before then?

[2013-01-10 19:45] shreddd commented on #28
Hi Greg - I plan on helping out
-Shreyas

[2013-01-10 19:50] qingpeng commented on #207
I may go back to China this summer. (80% chance)
I will stay three to four weeks if I can make it. If that period can
cover the date of the boot camp, I am interested in helping the
teaching.

[2013-01-10 19:52] karthik commented on #28
I can help out too (although I'd prefer not to organize this round).

[2013-01-11 01:27] emhart commented on #28
I'd like to help out with some of the ones happening in the Bay area..So I could do this one or the other ones in the area since it's a quick flight down.

[2013-01-11 01:57] gvwilson opened #210 "Run boot camp at Telecom ParisTech"

[2013-01-11 01:59] gvwilson commented on #210
- We have room for approx. 140 people.

[2013-01-11 05:11] wking commented on #161
On Thu, Jan 03, 2013 at 06:42:48PM -0500, W. Trevor King wrote:

My Pelican fork is now much more extensivly patched.  Pelican has
currently frozen PRs until they merge their py3k branch (maybe
tomorrow :), but I'm not sure when my patches will bubble up to the
top of the backlogged queue.

Anyhow, my current `pelican-fork` builds my `pelican` branch of the
SWC website, and it has blog indexes by

[2013-01-11 16:09] gvwilson opened #212 "Convert to LXML on server"
1. Merge @gvwilson's change-xml-parser branch.
2. Install lxml and html5lib on software-carpentry.org.
3. Test.
4. Install.
5. Add instructions to README.md so that other people know what they need to install and do.

[2013-01-11 16:56] caitsydney commented on #28
I'd like to get some teaching experience and the chance to work with you IRL, @gvwilson.

[2013-01-11 17:34] wking commented on #212
See #168 for the root cause of this PR.

[2013-01-11 17:53] wking commented on #161
I think I need some guidance on how to handle in-Article Jinja.
Currently bootcamps use `{% include "_what.html" %}`,
`{{eventbrite(…)}}`, … and blog posts use `{{youtube(…)}}`.
However, when I started the Pelican translation, I made both
categories `Article` instance, as they were the most blog-post-y.
Unfortunately, Pelican is treating the post content as Markdown +
metadata, which means Jinja i

[2013-01-11 21:49] #44 closed, assigned to pipitone

[2013-01-12 11:34] gvwilson opened #213 "Boot camp for University of Dundee"
- Local contacts are Jim Procter (rocter@compbio.dundee.ac.uk) and Chris Cole (chris@compbio.dundee.ac.uk), Computational Biology

[2013-01-13 22:23] wking commented on #161
On Sun, Jan 13, 2013 at 01:53:40PM -0800, Greg Wilson wrote:

It's a bit different.  Pelican can already process Jinja templates (my
`TEMPLATE_PAGE_PATHS`).  However, all of Pelican's feed generation,
etc., is for the `Article` class, read in using the `*Reader`s from
`pelican.readers`.  There's currently no Jinja+HTML reader, but it
shouldn't be too hard to add one.  This is probably the best non

[2013-01-13 22:55] gvwilson commented on #161
Hi,

[2013-01-14 14:49] wking commented on #161
On Sun, Jan 13, 2013 at 02:55:51PM -0800, Greg Wilson wrote:

Done.

I think I'm getting a bit far ahead of `pelican/master`, so I'm going
to take a break until the Pelican folks can catch up a bit ;).  The
major parts of the Pelican-generated site are looking pretty good to
me.

Still todo:
- Poke around the `3_0` and `4_0` submodules.
- Audit for other broken stuff.

[2013-01-14 14:52] gvwilson commented on #161
On 2013-01-14 9:49 AM, W. Trevor King wrote:

[2013-01-14 15:22] pipitone commented on #212
So, after setting the PYTHONPATH like so,

[code]

I used [this script](http://gsnedders.com/installing-lxml-on-dreamhost) to install lxml on dreamhost:

[code]

Then I ran,

[code]

to install html5lib.

Will test shortly.

[2013-01-14 16:51] pipitone commented on #212
er, that PTYHONPATH should read:

[code]

[2013-01-14 17:09] pipitone commented on #212
Okay, when I get the following error running this on dreamhost:

[code]

This looks to be a problem with the use of a format string without positional argument specifiers, something that was [only introduced in python 2.7](http://docs.python.org/2/library/string.html#format-string-syntax).  Dreamhost runs python 2.6.6 (we can upgrade, if we want).

This fix:

[code]

then produces:

[code]

So it

[2013-01-14 17:15] jiffyclub commented on #212
Sheesh, why is it so hard to install `lxml` on dreamhost? Is there any way we could use `pip` and virtualenv?

(And my bad on the 2.6 incompatible code there. We should upgrade to Python 2.7 if we can.)

[2013-01-14 17:35] wking commented on #212
On Mon, Jan 14, 2013 at 09:09:08AM -0800, pipitone wrote:

These format strings are an easy enough fix that they shouldn't be a
reason to break 2.6 support.

On Mon, Jan 14, 2013 at 09:15:06AM -0800, Matt Davis wrote:

+1 on upgrading, although my preference would be for something from
Python 3 ;).  Once we get the build toolchain converted to Pelican,
other people will be handling Python-version

[2013-01-14 17:42] gvwilson commented on #212
As far as I can tell, only Python 2.6 and 2.7 are installed on dreamhost
right now --- and yeah, we can virtualenv if it makes things easier, but
I was hoping to avoid any of that. _sigh_ Have I ranted recently about
how broken the whole packaging & installation thing is?

[2013-01-14 17:47] jiffyclub commented on #212
Well, virtualenv makes it easier to install Python packages as non-root, it won't help install compiled libraries as non-root, which is what it looks like @pipitone had to do.

[2013-01-14 17:59] pipitone commented on #212
Dreamhost has some instructions/scripts on how to do the python
upgrade/pip/virtualenv installs:
http://wiki.dreamhost.com/Python#Automatic_Installation

Looks easy enough.

On Mon, Jan 14, 2013 at 12:47 PM, Matt Davis notifications@github.comwrote:

[2013-01-14 19:06] wking commented on #212
On Mon, Jan 14, 2013 at 09:42:26AM -0800, Greg Wilson wrote:

The problem with non-root packaging is that you are relying on a bunch
of software that your personal package manager (pip, homebrew, Gentoo
Prefix, …) doesn't have control over.  If DreamHost doesn't have a
good package manager in place for you to use and you need more than
pure Python packages, it seems like it would be easier to have

[2013-01-14 20:19] gvwilson commented on #212
On 2013-01-14 2:06 PM, W. Trevor King wrote:

[2013-01-14 21:59] wking commented on #212
On Mon, Jan 14, 2013 at 12:19:37PM -0800, Greg Wilson wrote:

Minor Git nit: you have a single remote on s-c.o, which is
swcarpentry/website (probably called 'origin').  Unless you've altered
the fetch refspec (see remote.<name>.fetch in `git config --help` and
the refspec notes in `git fetch --help`), this means you've still got
remote tracking branches for anything on swcarpentry/website.  I
exp

[2013-01-15 21:39] jiffyclub commented on #8
I think we've decided to drop this requirement?

[2013-01-15 21:40] #59 closed, assigned to jiffyclub

[2013-01-15 21:43] jiffyclub opened #219 "Navbar getting crowded"
With the extra space needed for dropdown carets in the navbar it's started to get crowded at smaller screen widths:

![Screen shot 2013-01-15 at 4 33 53 PM](https://f.cloud.github.com/assets/920492/69367/885c9884-5f5b-11e2-9c22-f06d1626f3a4.png)

We might consider removing the "Home" link or moving "License" under "About".

[2013-01-15 21:43] ethanwhite commented on #8
That is my recollection.

[2013-01-15 21:44] ethanwhite commented on #219
I think moving "License" under "About" seems like a good idea anyway.

[2013-01-15 21:50] #8 closed, assigned to amyrbrown

[2013-01-15 22:07] pipitone commented on #219
+1

It's also already linked to in the footer as well.

On Tue, Jan 15, 2013 at 4:44 PM, Ethan White notifications@github.comwrote:

[2013-01-15 22:27] gvwilson commented on #219
I would rather get rid of 'Home' (since the logo gets us there) ---
licensing needs to be very (very) easy to find, for a whole bunch of
reasons.
Alternative: replace the CC-BY logo in the bottom left with one of those
rounded white-on-blue box icons Matt's so fond of, and call it 'License'.
Or use a smaller font for menu items?
- G

On 2013-01-15 5:07 PM, pipitone wrote:

[2013-01-15 22:28] dmcglinn opened #220 "Blog comments appear missing"
I wrote a blog post for software carpentry back on 2012-05-31 which received several comments shortly after posting.  Here is the current link:

http://software-carpentry.org/blog/2012/05/dictionaries-are-a-scientists-friend.html

I noticed that these comments no longer are associated with the post. I'm not sure if this a general problem where all the blog posts lost their comments or not.  If pos

[2013-01-15 23:17] jiffyclub commented on #219
There's no reason we can't have a "About > License" _and_ the CC-BY image _and_ a footer label all linking to the license. (_And_ remove "Home"...)

[2013-01-16 00:58] gvwilson commented on #220
Hm --- we did spot checks when we switched to Disqus, and it looked like
comments had been kept.  I'll check against the last saved copy of the
WordPress database.

[2013-01-16 01:01] gvwilson commented on #219
On 2013-01-15 6:17 PM, Matt Davis wrote:

[2013-01-16 19:39] gvwilson opened #222 "Boot camp at University of Oslo July 3-4, 2013"
- Lex Nederbragt and Karin Lagesen will host
- In conjunction with the Galaxy meeting in Oslo

[2013-01-18 13:43] mikej888 commented on #24
Happy to be lead instructor and cover introduction, conclusion and revision control.

[2013-01-18 16:52] gvwilson opened #230 "Arrange a boot camp in Chicago"
- John Blischak will be the primary contact, with help from Kalee Ludeks.

[2013-01-18 17:15] jiffyclub opened #231 "Make Facebook and Google+ Presences"
@swcarpentry only has a social media presence on [Twitter](https://twitter.com/swcarpentry), which is really not too popular outside the tech elite. Have we thought about expanding our social media broadcasting?

[2013-01-18 17:38] benwaugh commented on #231
Not disagreeing, but as a newcomer to social media (now on Twitter and Google+ but emphatically not on Facebook) it isn't obvious to me why we should do this. Who are we trying to reach and what effect do we want to have?

[2013-01-18 17:49] jiffyclub commented on #231
Social media is really the only avenue we have for broadcasting messages besides the blog. And unless people have the blog via RSS they aren't even likely to know when that's updated. And aren't we trying to reach everyone?

[2013-01-18 18:00] gvwilson commented on #231
Assigning social media to Amy.

[2013-01-18 20:37] pipitone commented on #6
closing this because.. it has begun.

[2013-01-18 20:37] #6 closed, assigned to pipitone

[2013-01-18 21:03] gvwilson opened #232 "Boot camp at Notre Dame July 18-19, 2013"

[2013-01-18 21:33] rhiever commented on #232
Coming from MSU, I could do:

Thursday-Friday, June 13-14
Thursday-Friday, June 20-21
Thursday-Friday, June 27-28
Thursday-Friday, July 18-19

[2013-01-18 21:35] pipitone commented on #194
Just had a look.  Nothing of interest popped out.

[2013-01-18 21:35] #194 closed, assigned to nobody

[2013-01-18 21:36] pipitone commented on #212
bb7e27f merges in Greg's changes to switch to lxml

[2013-01-18 21:53] pipitone commented on #71
I made sure that all of the forwarding addresses now all forward to admin@.  I figure we can fork off full fledge email addresses (rather than forwarding ones) if/when we have someone to manage them.

[2013-01-18 21:53] #71 closed, assigned to pipitone

[2013-01-18 22:09] pipitone commented on #219
@jiffyclub does 8faa585 make this ready to close?

[2013-01-18 22:13] pipitone commented on #145
Whatever problem this was, it doesn't seem to be a problem any longer.  So I'm closing this.

[2013-01-18 22:13] #145 closed, assigned to jiffyclub

[2013-01-18 22:16] jiffyclub commented on #219
Yes, my bad for not attaching it to this issue.

[2013-01-18 22:16] #219 closed, assigned to nobody

[2013-01-18 23:00] karthik commented on #222
I'm interested.

[2013-01-18 23:04] rhiever commented on #222
Tempting. I'll likely be heading across the pond July 6-10 for GECCO, so...

[2013-01-18 23:42] davidmam commented on #222
I am rather tempted... Haven't been there for 1o years and a return visit is probably overdue.

[2013-01-19 16:22] selik commented on #222
Yes. I definitely want to go to Oslo.

[2013-01-20 11:47] wking opened #233 "`feed.xml` should be served as `application/rss+xml` (and possibly renamed to `feed.rss`)"
It's currently served as `application/xml`:

[code]

[2013-01-20 15:25] synesthesiam commented on #232
At this point, I can only be sure about the April dates. Depending on where I intern this summer, I may be able to make the other ones.

[2013-01-21 00:06] katyhuff commented on #210
Is there a date? Do they have the cash to fly people across the ocean? I might be free-ish in the summer...

[2013-01-21 00:15] emhart commented on #210
I could totally do it if there's money to fly people across the ocean :)

[2013-01-21 01:13] gvwilson commented on #210
On 2013-01-20 7:15 PM, Edmund Hart wrote:

[2013-01-21 08:05] agramfort commented on #210
hi,

the bootcamp is on april 20-21. I don't think we'll have money to fly
people over the ocean so we'll likely do with the locals / europeans.

cheers,
Alex

[2013-01-21 13:12] mikej888 commented on #48
Proposed, for sessions,
-Version control (provenance) and Git
-Testing (correctness)
and one of
-Advanced shell (find, awk,...) and Make (automation)
-Data management using files / or relational databases

Will set up VM at EPCC with temporary accounts so attendees can drop in if desired.

Awaiting confirmation of:
-Proposed sessions above.
-Funding for instructors and helpers. If this is possible

[2013-01-21 16:15] jdblischak commented on #232
Coming from Chicago, I could potentially do the following dates:

Thursday-Friday, April 11-12
Thursday-Friday, June 13-14
Thursday-Friday, June 27-28
Thursday-Friday, July 18-19

We are speculatively planning on running another bootcamp at University of Chicago around late spring/early summer, so my availability could change once we determine a date for that.

[2013-01-21 17:24] gvwilson commented on #233
On 2013-01-20 6:47 AM, W. Trevor King wrote:

[2013-01-21 18:48] pipitone commented on #233
Oops, mucked that up.  PR #236 fixes the content type.  Leaves the file name as feed.xml.

Could also add redirects for feed.rss or other aliases.  I'm +0 on this.

[2013-01-21 18:50] gvwilson commented on #233
On 2013-01-21 1:48 PM, pipitone wrote:

[2013-01-21 22:07] gvwilson opened #237 "Boot camp at the Vrije Universiteit in Amsterdam"
- Local contacts are Paul Groth and Onno Broekmans
- Tentative dates are May 2-3, 2013 (tied with boot camp on May 6-7 at GEOMAR, #25)
- Instructors are Justin Ely and (tentatively) Stefano Cozzini

[2013-01-22 18:37] gvwilson opened #242 "Boot camp at Northwestern University"
- Luis Amaral is main faculty contact
- Patrick Fuller made the introduction
- Possibly try to synchronize with Notre Dame (#232).

[2013-01-22 18:38] gvwilson commented on #232
- Possibly synchronize with Northwestern (#242).

[2013-01-22 19:04] gvwilson opened #243 "Boot camp at American Astronomical Society meeting."
- Synchronize with their 2014 meeting.

[2013-01-23 13:31] mikej888 opened #245 "Boot camp for ICSS Southampton - 2013-06-03/04"
- Where: [Institute for Complex Systems Simulation](http://www.icss.soton.ac.uk), The University of Southampton
- Host: Robin Wilson
- Audience: ICSS.May open up to [Computational Modelling Group](http://www.cmg.soton.ac.uk) if spaces. Tim Staley from Astronomy may also attend.
- Instructors: Nelle Varoquaux (@NelleV), David Jones (@drj11)
- Helpers: Steve Crouch,
- Web site: http://software-carpe

[2013-01-23 16:30] NelleV commented on #245
I can teach or/and help with either git or python (introduction, numpy, matplotlib etc) depending on the exact dates.

[2013-01-23 17:37] robintw commented on #245
I am happy to be a helper (when I'm not sorting out all of the organisation stuff during the day).

[2013-01-23 18:24] davidmam commented on #245
Southampton should be fine depending on the precise dates. I am happy to assist and pitch in to teach where required (though I've not done much numpy or matplotlib) Unix and basic hackery is fine though. I even have relatives nearby with whom I could stay.

[2013-01-24 11:20] gvwilson opened #247 "Run boot camp for Lawrence Berkeley National Lab March 6-7, 2013"
- two people needed to teach March 6-7, 2013
- follow-on to #28

[2013-01-24 15:53] npch commented on #231
I am happy to help out with the Facebook page admin/moderation (I'm not a Google+ fan as the API is so restrictive).

[2013-01-24 18:25] amyrhoda commented on #231
Neil, I tried to add you to the Facebook page as an administrator but it failed (with no error message, naturally). My hypothesis is that I need the email address you signed up to Facebook with -- can you send it to me?

[2013-01-25 19:01] #233 closed, assigned to pipitone

[2013-01-25 19:02] pipitone commented on #212
The switch to lxml seems to have been working for the last week or so with no major issues.  I'm closing this.

[2013-01-25 19:02] #212 closed, assigned to pipitone

[2013-01-25 19:09] pipitone commented on #22
From what I can see, our analytics account on Google is now under admin@, as is EventBrite, doodle, and SurveyMonkey, and Disqus.

There isn't a nice way to change Youtube accounts without re-uploading all of the videos, so I suggest we just stay with video@.

CafePress still seems to be under gvwilson, but I can't log in to change it.  Greg?

[2013-01-25 19:18] gvwilson commented on #212
On 2013-01-25 2:02 PM, pipitone wrote:

[2013-01-25 19:19] gvwilson commented on #22
On 2013-01-25 2:09 PM, pipitone wrote:

[2013-01-25 19:37] pipitone commented on #212
I saw that, but when I do a "make check" right now on Amherst, the only
error I get is:

[code]

/home/swcarpentry/website/build/bootcamps/2013-02-amos.html
        ((200, 4), 'unexpected-end-tag', {'name': 'p'})

which I just figured had slipped through the cracks.  This isn't a problem
with lxml is it?

On Fri, Jan 25, 2013 at 2:18 PM, Greg Wilson notifications@github.comwrote:

[2013-01-25 19:38] pipitone commented on #22
Okay.  Are there any other accounts to reconcile then?

On Fri, Jan 25, 2013 at 2:19 PM, Greg Wilson notifications@github.comwrote:

[2013-01-25 19:41] jiffyclub commented on #212
I think that's a recently added file.

[2013-01-25 19:47] pipitone commented on #212
Yeah, exactly.  So... we're good, no?

On Fri, Jan 25, 2013 at 2:41 PM, Matt Davis notifications@github.comwrote:

[2013-01-25 20:04] gvwilson commented on #212
That one arises because you can't wrap a <p> around a <table>, but
without that, the spacing looks weird (not enough space after the table).
G

On 2013-01-25 2:37 PM, pipitone wrote:

[2013-01-25 20:04] gvwilson commented on #212
If it builds cleanly except for that file, then yes.
G

On 2013-01-25 2:47 PM, pipitone wrote:

[2013-01-25 21:15] wking commented on #212
On Fri, Jan 25, 2013 at 12:04:11PM -0800, Greg Wilson wrote:

That sounds like a job for CSS ;).

[2013-01-25 21:17] jiffyclub commented on #212
Or `<br>`.

[2013-01-26 00:08] gvwilson commented on #212
CSS please: take out the <p> around the <table> on
bootcamps/2013-02-amos.html, see what happens to the spacing, work
magic, send pull request?
Thanks,
Greg

[2013-01-26 00:18] jiffyclub commented on #212
I'll fix it. Easiest thing to do is just add a [Bootstrap class](http://twitter.github.com/bootstrap/base-css.html#tables).

[2013-01-26 01:52] jiffyclub commented on #212
Fixed in e019544, now looks like this:

![Screen Shot 2013-01-25 at 8 50 12 PM](https://f.cloud.github.com/assets/920492/99355/01818aec-675b-11e2-9be0-6b7223d14533.png)

[2013-01-27 22:23] gvwilson commented on #22
Can't think of any.

On 2013-01-25 2:38 PM, pipitone wrote:

[2013-01-27 22:29] pipitone commented on #22
Great!

[2013-01-27 22:29] #22 closed, assigned to gvwilson

[2013-01-28 02:20] pipitone commented on #99
Oh, I miss that purely text hero unit.  :-)

I'm closing this since it's been a while and my impression is that the blue-ification is complete.

[2013-01-28 02:20] #99 closed, assigned to nobody

[2013-01-28 03:29] ethanwhite opened #255 "Broken link to setup instructions on how-to.html"
The link in section 12 of how-to.html to the computer setup information currently points to:

http://software-carpentry.org/bootcamps/setup.index

which 404s.

[2013-01-28 10:11] npch commented on #52
I've raised a [new issue 256](https://github.com/swcarpentry/website/issues/256) with a specific rendering bug to do with menus on iPhones.

[2013-01-30 16:40] pipitone opened #259 "Automate creating a new blog post"
Currently creating a blog post is a bit of a hassle with having to fetch a new ID, and figure out all the various templating stuff that goes into making a valid post.

How about this: create a new makefile target "new-blog-post" that fetches a new ID, and creates a blank blog post for today's date.  The "blank" blog post could contain the basic structure of a blog post, with helpful comments to de

[2013-01-30 16:43] gvwilson commented on #259
On 2013-01-30 11:40 AM, pipitone wrote:

[2013-01-31 20:47] #259 closed, assigned to gvwilson

[2013-02-01 12:00] robintw commented on #245
Just thought I'd let you all know a few more details about what I've been organising so far. The admin person for the ICSS is now actively looking for rooms that we might be able to book for the Boot Camp - we have a couple of possibilities, but it depends exactly how many people we have.

I've sent a questionnaire around to the ICSS students asking who would like to come to a Boot Camp and what t

[2013-02-01 12:05] davidmam commented on #245
I should add that I havent done a SW carpentry bootcamp before (so would be looking to learn how that works) but have been running and teaching on postgrad and undergrad bioinformatics courses for the last 15 years.

[2013-02-06 19:50] gvwilson opened #281 "Boot camp at Salk Institute week of June 11-14, 2013"

[2013-02-08 01:03] ethanwhite commented on #255
Fixed in 54ee32.

[2013-02-08 01:03] #255 closed, assigned to nobody

[2013-02-08 03:31] gvwilson opened #287 "Boot camp at NCAR (Boulder, Colorado)"
Week of May 22-31, 2013 for NCAR/UCAR in conjunction with a conference.  May be USGS participation as well.
- @acviana and @emhart to teach.

[2013-02-08 09:00] davidmam commented on #222
Just noticed this has the Galaxy meeting as well. Makes it more interesting.

[2013-02-08 11:24] robintw commented on #245
I've spent most of the morning today trying to find rooms that are available at the university for us to hold this in - our room booking system can be rather frustrating! Unfortunately it seems that we are unlikely to be able to hold it in May, as that is during university term and exam time, so most rooms are booked - but there is more availability in June.

The students have overwhelmingly voted

[2013-02-08 22:36] emhart commented on #287
Super super interested.  Applying for a job at NEON and I have family there so I'd love to.

[2013-02-11 12:25] benwaugh opened #292 "Run boot camp at UCL - Th04/04 and Mo08/04"
- Where: UCL
- Host: James Hetherington (@jamespjh)
- Audience: TODO
- Instructors: James Hetherington (@jamespjh), Ben Waugh (@benwaugh), Miguel Bernabeu, Andrew Smith
- Helpers: TODO
- Web page: TODO
- Registration: TODO
- Mailing list: TODO
- Repository: TODO
- Syllabus: TODO
- Notes: Probable dates Thu 4 and Mon 8 April 2013, but room bookings not yet confirmed.

[2013-02-11 12:33] mikej888 opened #293 "Provide instructors to Oxford DTCs boot camp - 2013-05-09/10"
- Where: University of Oxford
- Host: Jonathan Cooper (@jonc125)
- Audience: Oxford DTCs only
- Instructors: Mario Antonioletti (@marioa), Shoaib Sufi (@shoaibsufi)
- Helpers: Phil Fowler (possibly, 1 day)
- Web page: http://software-carpentry.org/bootcamps/2013-05-oxford-dtc.html
- Registration: http://www.eventbrite.com/event/5656292122 (password-protected)
- Mailing list: http://lists.software-

[2013-02-11 12:42] mikej888 opened #294 "Boot camp for Tim Staley, Astronomy, Southampton"
Tim Staley (​tim.staley@soton.ac.uk) is an astronomer based in the school of Physics in Southampton.
"Everyone uses linux, and so they're all familiar with basic command line stuff, and everyone codes to some level or other - but there's a wide range between a little bit of scripting through to fairly serious software projects. It's also a real mix of languages - we have profs who've been coding i

[2013-02-11 16:49] mikej888 commented on #50
Norman contacted me. Current thinking is October/November 2013.

[2013-02-11 21:42] pipitone commented on #220
So, I did some digging.  All our comments from the wordpress site _are_ in Disqus, but we've changed the URLs to the blog posts, and so Disqus isn't displaying them.  An example of our old blog URL:

[code]

and our new blog URL:

[code]

Note the /blog/ bit in the new URLs.

Because Disqus can't import from its export format (I know.. brain damaged), here's one proposal:
1. Use the WP Disqus plug

[2013-02-11 21:56] gvwilson commented on #220
My first question is, How important is this really?

On 2013-02-11 4:42 PM, Jon Pipitone wrote:

[2013-02-11 22:07] pipitone commented on #220
Depends how much we care about old comments, I suppose.

Seems like a strange thing to do to just ditch them... I mean, why not
ditch all of the old content as well, right?

On Mon, Feb 11, 2013 at 4:56 PM, Greg Wilson notifications@github.comwrote:

[2013-02-12 03:53] gvwilson commented on #220
OK, if you think it's worth the effort (and you're sure we won't lose
any of the current Disqus comments), go for it.
- G

On 2013-02-11 5:07 PM, Jon Pipitone wrote:

[2013-02-13 17:20] mikej888 opened #300 "Boot camp for Exeter University, 12-13 Nov 2013"
- Wellcome Trust Biomedical Informatics Hub, University of Exeter - Exeter campus
- Host: Konrad Paszkiewicz
- For physicists, engineers, biologists - may have some programming experience, but biologists understanding of loops etc may be limited.
- Instructors: @drj11, @chryswoods
- Syllabus: (possible): shell, make, version control, Python and functions, Python and testing, an introduction to R (

[2013-02-15 16:27] mikej888 commented on #300
Telcon with Konrad.

Attendees are mixed - physicists, engineers, biologists - may have some programming experience, but biologists understanding of loops etc may be limited.
They will know UNIX, Perl, next-generation sequencing.
Possible boot camp topics include: shell, make, version control, Python and functions, Python and testing, an introduction to R (including how some of the Python good pro

[2013-02-15 16:54] drj11 commented on #300
I would love to teach some of this. Can teach some or all of shell, make, version control, Python, testing, and maybe even an introduction to R.

[2013-02-19 14:31] jamespjh commented on #292
Room bookings now confirmed.

[2013-02-20 09:55] mikej888 opened #310 "Boot camp for EPCC, The University of Edinburgh - Tu03-We04 2013"
- Where: EPCC, The University of Edinburgh
- Host: David Henty, Mike Jackson
- Audience: any.
- Instructors: TODO
- Helpers: TODO
- Web site: TODO
- Registration: TODO
- Mailing list: TODO
- Repository: TODO
- Syllabus: TODO
- Notes: a similar boot camp to [Edinburgh 2012](http://software-carpentry.org/bootcamps/2012-12-edinburgh.html)

[2013-02-20 10:10] mikej888 commented on #293
Pinged Jonathan, Mario and Shoaib:
- Web page will shortly appear at  http://software-carpentry.org/bootcamps/index.html#future, when pull request #308 is merged.
- Asked if they want EventBrite and mailing list set up.
- Asked that they let me know when they decide if they want to use GitHub or BitBucket for a repository.
- Asked if they want uk@lists.software-carpentry.org pinged for any interes

[2013-02-20 10:16] mikej888 commented on #292
Mailed James about
- Whether he or I will ping tutors@lists.software-carpentry.org and uk@lists.software-carpentry.org for helpers.
- Standard SWC blurb (e.g. http://software-carpentry.org/bootcamps/2013-02-uwash.html)
- If they want EventBrite, event page, mailing list.

[2013-02-20 10:32] mikej888 commented on #50
Awaiting dates, expected number of participants and whether 2 instructors can have their expenses covered.

[2013-02-20 10:35] mikej888 commented on #213
10/01/13 Neil Chue Hong sent Jim and Chris info about boot camps after they expressed interest. They're the same group as Nancy Giang (who attended Newcastle and helped at Edinburgh - potential first time instructor if we run one in Dundee?!)

[2013-02-20 10:40] mikej888 commented on #42
@LJWilliams, sorry yes, I don't think Alex can cover the cost of flying an instructor over so we'll be going local.

[2013-02-20 11:05] mikej888 commented on #42
Asked Alex on status of seeking a room and machines at the conference, whether it seems this will go ahead, how he'd envisaged handling registration (offered EventBrite) and to confirm dates.

[2013-02-20 11:06] mikej888 commented on #245
Pinged Robin as to whether expenses could be covered and if he wants me to re-ping UK and Tutors list for UK-based tutors.

[2013-02-20 13:28] mikej888 commented on #245
Robin can cover UK instructor expenses and this likely will include Paris @NelleV (as Paris-London is likely cheaper than many parts of the UK to London!).

@davidmam, where are you located?

[2013-02-20 13:30] mikej888 commented on #245
Pinged UK and Tutors lists.

[2013-02-20 14:07] davidmam commented on #245
I'm in Dundee, Scotland. Just up the road from MikeJ888

[2013-02-20 14:43] jamespjh commented on #292
I pinged tutors and uk.

[2013-02-21 18:04] selik commented on #163
That'd be great. I'll be a Boston local by then.

[2013-02-21 19:19] ahmadia commented on #163
I'm a maybe coming from London (I can handle my own housing).

[2013-02-21 21:05] gvwilson commented on #23
Unable to book space; try again next year.

[2013-02-21 21:05] #23 closed, assigned to nobody

[2013-02-21 21:07] gvwilson opened #313 "Boot camp for University of Massachusetts - Amherst"
- May 30-31, 2013
- @tracykteal is lead instructor

[2013-02-22 09:58] mikej888 commented on #42
Alex: It appears we can get the software installed on there, but that hasn't actually happened yet. My contact in IT Support is having a meeting about this in the next few days. In any case, we will find somewhere to run the course.

We will proceed with the course. I would be happy to use EventBrite to handle the registration. I plan to give priority to a group of students that will be attending

[2013-02-22 10:01] mikej888 commented on #48
Sessions will be: version control, testing, data management using files and NoSQL.
No funding for 2nd instructor.
First-come first-served model is OK.

[2013-02-22 10:14] davidmam commented on #42
Why are all the UK boot camps next to my relatives? Possible, and as I may be on holiday down there (Trowbridge) at the time, very cheap too.. (I'll have to recuse myself from the other boot camps though).
Edit: If we are in the area, I'll definitely offer to come along as a helper to see how these run.

[2013-02-22 10:28] mikej888 commented on #300
E-mailed Konrad standard blurb for a boot camp, but with the draft syllabus above, so he can forward to interested parties. I'll collect the responses.

[2013-02-22 15:39] embray commented on #313
As a UMass Amherst alumnus I would like to get in on this if at all possible.

[2013-02-22 18:28] gvwilson opened #316 "Create new stickers on cafepress.com for Software Carpentry"
The logo is a fair bit smaller than the sticker on our current batch of laptop stickers --- we should either shrink the sticker (which is probably not possible), shift to a different shape (is oval workable?), or upload a larger image.

[2013-02-22 21:30] tracykteal commented on #313
Hi Erik,

That would be great.  We're working on figuring out dates right now.  We're thinking the last week in May or the end of June.  Would you be free either of those times?

-Tracy

On Feb 22, 2013, at 10:39 AM, Erik Bray wrote:

[2013-02-23 13:19] wltrimbl commented on #163
I can help with either of those dates and can handle my own housing.

[2013-02-25 02:19] wltrimbl commented on #162
I could TA for this one if needed.

[2013-02-25 14:45] jonc125 commented on #293
I've drafted an initial page for the boot camp at http://jonc125.github.com/boot-camps/2013-05-09-oxford-dtc/, and will submit a pull request for it to go under the SWC account when we're ready to advertise. I've also made a (very initial) start on material in the same repository (https://github.com/jonc125/boot-camps/tree/2013-05-oxford-dtc).

I've never used EventBrite before - how easy is it to

[2013-02-25 18:10] amyrhoda commented on #293
Re: filtering registrations on EventBrite -- what you can do is set the event to be private and password-protected. Then no-one can sign up unless they have a password.

[2013-02-26 01:48] wking commented on #202
What about a prettier version of:

![dirac-drivers-license](https://f.cloud.github.com/assets/209920/194658/164f44dc-7fb6-11e2-9971-cae149bc31e9.png)

It ties in δ and driving, but lacks any SWC hammers/nails.  It might also throw folks off by impersonating a warning sign…  Dia source available on request, although it's probably best if someone graphically inclined just starts from scratch ;).

[2013-02-26 01:55] wking commented on #154
Closed with swcarpentry/boot-camps@9ca9cd02fbcf7542b4d229a2fdde780eea095b39.

[2013-02-26 01:55] #154 closed, assigned to acviana

[2013-02-26 02:14] wking commented on #39
I'm closing this PR. Future feedback should go in swcarpentry/boot-camps#12, which currently has a fairly complete implementation.

[2013-02-26 02:14] #39 closed, assigned to nobody

[2013-02-26 02:14] wking commented on #40
I'm closing this PR. Future feedback should go in swcarpentry/boot-camps#12, which currently has a fairly complete implementation.

[2013-02-26 02:14] #40 closed, assigned to nobody

[2013-02-26 03:28] wking commented on #2
On Fri, Dec 14, 2012 at 07:10:36PM -0800, Matt wrote:

The review PR surfaced briefly as #93, but work seems to have stalled out.  In order to reduce the number of balls we're juggling, it would be nice to wrap this up somehow.  As encouragement, I've posted swcarpentry/boot-camps@001b57b as part of my test script PR swcarpentry/boot-camps/issues/12.  As an example of what I'm looking for, see swc

[2013-02-26 04:17] gvwilson commented on #202
The version in the repo is what the stakeholders signed off on, so it's
what we're going with.
Thanks,
Greg

[2013-02-26 05:35] wking commented on #202
On Mon, Feb 25, 2013 at 08:17:52PM -0800, Greg Wilson wrote:

Err, which version in the repo?  And if you have something you're
happy with, it would probably be a good idea to close the bug ;).

[2013-02-26 09:50] mikej888 commented on #300
Chris Woods (@chryswoods) is available from 11th November (7th at a push) as an instructor.

[2013-02-26 09:51] mikej888 commented on #42
Chris Woods, Bristol, volunteered as an instructor.

[2013-02-26 10:12] mikej888 commented on #293
Thanks Amy. Is that OK for you Jonathan? If so I'll set it up. Likewise, do you want a mailing list?

[2013-02-26 10:13] mikej888 commented on #293
Pinged the October Oxford bioinformatics boot camp attendees to see if anyone wants to help out.

[2013-02-26 12:12] wking commented on #184
Ethan's commit fixes this issue, but we forgot to close it until now.

[2013-02-26 12:12] #184 closed, assigned to nobody

[2013-02-26 12:14] wking commented on #175
As of 3f6f6a033985f53fcb91991e5d7c0ffa73871b62, there's an HTML comment with this information.  That's good enough for me.

[2013-02-26 12:14] #175 closed, assigned to nobody

[2013-02-26 12:18] wking commented on #52
This seems to be complete.  Shall we close it?

[2013-02-26 12:28] npch commented on #52
Works for me. Website rendering on mobile devices is still less than brilliant, but it's usable at least and the titles behaviour mentioned by @jiffyclub above seems fixed for me.

[2013-02-26 13:03] jonc125 commented on #293
Password-protected sounds good, thanks, and a mailing list would be helpful too.

[2013-02-26 13:23] wking commented on #149
Moved to swcarpentry/boot-camps#30.

[2013-02-26 13:23] #149 closed, assigned to LJWilliams

[2013-02-26 15:30] ahmadia commented on #293
@mikej888 - Out of curiosity, did I register under my KAUST email?  I didn't get the email :)

[2013-02-26 20:53] pipitone opened #318 "Add a link to the various discussion lists people can sign up for / view"
Right now on our [contributing page](http://software-carpentry.org/about/contributing.html) we don't provide any links to our discussion lists, e.g. http://lists.software-carpentry.org.

I think providing links for the discussion, dev, assessment, and tutors lists would be most appropriate.

[2013-02-26 23:24] jdblischak opened #319 "Boot camp at University of Chicago June 2013"
Dates are now set: June 17-18, 2013.

I am especially in need of instructor(s) comfortable with teaching the later advanced sections (debugging, testing, and documentation). My administrative contact at UChicago said they would definitely consider helping with travel costs as long as it wasn't too expensive (I wasn't given a figure), but to be safe we should probably limit it to instructors in the

[2013-02-27 09:37] mikej888 commented on #293
@ahmadia - I was using the list of e-mails in the SWC database not the mailing list - I've added you to that database. If you'd like to help, you're more than welcome :-)

[2013-02-27 09:39] mikej888 commented on #42
Dhavide Aruliah from Canada, may be able to instruct/help if times permit.

[2013-02-27 11:06] mikej888 commented on #300
Jeremy Metz, University of Exeter, may attend as helper or instructor.

[2013-02-27 11:06] mikej888 commented on #42
Jeremy Metz, University of Exeter, may attend as helper.

[2013-02-27 13:01] gvwilson opened #320 "Boot camp for University of Southern California"
Ewa Deelman at isi.edu would like something (tentatively the week of Sept 16, 2013)

[2013-02-27 13:11] gvwilson commented on #318
Happy to add links for 'discuss'; would rather people weren't able to sign up unilaterally for 'tutors', but there's no reason not to put the archives online.  The 'assessment' list is probably going to be retired soon...
Question: I can't figure out how to allow people to self-register for the 'announcements' list.

[2013-02-27 13:15] embray commented on #313
Hi @tracykteal , sorry I didn't get back sooner.  Yes, I should be available around that time.  Any idea who the audience is specifically?

[2013-02-27 13:15] gvwilson commented on #230
Replaced by #319.

[2013-02-27 13:15] #230 closed, assigned to nobody

[2013-02-27 13:16] gvwilson commented on #231
Did @npch get set up as a Facebook admin?  Did @mikej888?  Are we going to Google+?  Can this ticket be closed?

[2013-02-27 13:18] gvwilson commented on #220
@pipitone any progress on this?

[2013-02-27 13:20] #202 closed, assigned to gvwilson

[2013-02-27 13:35] wking commented on #318
On Wed, Feb 27, 2013 at 05:11:37AM -0800, Greg Wilson wrote:

tutors@ archives already are online, and googling “software carpentry
mailing list” will turn up lists.s-c.o, so they currently aren't even
particularly hidden.  The listinfo page for tutors also explains that
subscription requests are moderated.

[2013-02-27 13:42] jonc125 commented on #293
The maximum number of attendees we can have is 56.

[2013-02-27 13:42] gvwilson commented on #318
Please see my 'contributing' branch
(https://github.com/gvwilson/website/tree/contributing) --- only change
is in about/contributing.html.  Before I issue a pull request, I'd like
to add an explanation of how people can put themselves on the
'announcements' list, but I don't know how Dreamhost handles self-signup
for announce lists.

[2013-02-27 13:55] wking commented on #318
On Wed, Feb 27, 2013 at 05:42:24AM -0800, Greg Wilson wrote:

Err…  I can't find the announcements list.  It doesn't seem to be
listed on lists.s-c.o.

[2013-02-27 13:57] gvwilson commented on #181
Not going to get to it.

[2013-02-27 13:57] #181 closed, assigned to gvwilson

[2013-02-27 13:58] gvwilson commented on #318
On 2013-02-27 5:55 AM, W. Trevor King wrote:

[2013-02-27 14:08] npch commented on #231
I'm a Facebook admin so that side is sorted. We've got steady growth and gradually increasing interaction.
We're playing it slow as Facebook has a business model of charging you to do anything large scale...

I don't do Google+ very much, but I've seen @ahmadia active on there - perhaps he should be tapped up :-)

[2013-02-27 14:09] wking commented on #318
On Wed, Feb 27, 2013 at 05:58:35AM -0800, Greg Wilson wrote:

What sorts of things will be posted in the announcements list?  There
are so many lists already, and distinctions between them seem fuzzy to
me.  For example, I'd fold dev@ and gits@ into discuss@.  I'd also
probably fold planning@ into tutors@ (or vice versa), now that tutors@
is “only for low-volume discussion about scheduling and sta

[2013-02-27 14:14] pipitone commented on #318
Dreamhost (the swc webhost) tightly manages their announcement (one-way
broadcast) lists as a way to stop spammers.  To send mail you must submit
it through an online form on the dreamhost control panel.

On Wed, Feb 27, 2013 at 8:58 AM, Greg Wilson notifications@github.comwrote:

[2013-02-27 14:16] gvwilson commented on #318
1. 'announcements' is a broadcast-only list with almost 900 people on it
   (past boot camp participants). Everyone gets a chance to sign up
   immediately after a boot camp (it's opt-in).  We use it about once a
   month (often less) for major announcements.
2. 'gits' and 'assessment' are going to be retired --- the first has
   served its purpose, the second never really took off.
3. 'planning'

[2013-02-27 14:16] gvwilson commented on #318
On 2013-02-27 6:14 AM, Jon Pipitone wrote:

[2013-02-27 14:34] kcranston commented on #231
I can do Google+.

On Wed, Feb 27, 2013 at 9:08 AM, Neil Chue Hong notifications@github.comwrote:

##

[code]

[2013-02-27 14:42] kcranston commented on #231
https://plus.google.com/communities/110811657045857717561

I need a larger version of the logo than the one in
https://github.com/swcarpentry/website/tree/master/img. Where would I find
such a thing?

On Wed, Feb 27, 2013 at 9:34 AM, Karen Cranston karen.cranston@gmail.comwrote:

##

[code]

[2013-02-27 14:44] amyrhoda commented on #231
There are a bunch of logo files here: https://github.com/swcarpentry/assets/tree/master/branding/logo.  Thanks for setting us up on Google+!

[2013-02-27 14:49] wking commented on #231
On Wed, Feb 27, 2013 at 06:42:03AM -0800, Karen Cranston wrote:

You may be able to snip the one you like from

  https://github.com/swcarpentry/assets/tree/master/branding/logo/software-carpentry-identity-color.svg

This should probably be split into separate SVGs for each logo
element…

[2013-02-27 14:54] kcranston commented on #231
I need something that is at least 250x250.

Who else should be admin on the group?

On Wed, Feb 27, 2013 at 9:44 AM, Amy Brown notifications@github.com wrote:

##

[code]

[2013-02-27 14:59] gvwilson commented on #231
On 2013-02-27 6:54 AM, Karen Cranston wrote:

[2013-02-27 15:00] stevemcgough commented on #319
I'm planning to be in Madison WI April 29th till May 3rd for a Software Carpentry bootcamp and HTCondor Week. I'll be travelling back through Chicago on the 4/5th so if you run it on the 6/7th I could hang around to help and probably do debugging / testing. As I've already got flights through the only thing I could do with would be accommodation.

cheers,

steve..

[2013-02-27 15:01] embray commented on #231
I'm a Google+ advocate too.  I can help out on there if need be.

On Wed, Feb 27, 2013 at 9:08 AM, Neil Chue Hong notifications@github.comwrote:

[2013-02-27 15:17] rhiever commented on #319
Coming from MSU/East Lansing, I'm available for both dates.
- Randy Olson

[2013-02-27 15:23] kcranston commented on #231
Grabbed the gravatar logo.

If Amy and Mike join the community, I can promote them to moderator.

On Wed, Feb 27, 2013 at 9:59 AM, Greg Wilson notifications@github.comwrote:

##

[code]

[2013-02-27 16:48] amyrhoda commented on #231
Karen,  joined the G+ community. @mikej888, I or @npch can add you as an admin on Facebook (if you aren't already) if you send us the email address Facebook knows you by.

[2013-02-27 17:29] npch commented on #231
@amyrbrown - I've just added @mikej888 as a Facebook admin for the SWC page.

[2013-02-27 22:34] pipitone commented on #318
There is an opt-in mechanism, but we have to create it ourselves[1].  It
involves making a form that people can submit.

Jon.

[1]
http://wiki.dreamhost.com/Announcement_Mailing_List#How_can_people_subscribe_to_my_mailing_list.3F

On Wed, Feb 27, 2013 at 9:16 AM, Greg Wilson notifications@github.comwrote:

[2013-02-28 03:46] gvwilson commented on #318
_sigh_ OK, please ticket this separately --- we should.
- G

On 2013-02-27 5:34 PM, Jon Pipitone wrote:

[2013-02-28 12:32] wking commented on #52
Nobody wants it open after 2 days, so I'm closing this.  Feel free to open new issues with specific problems/suggestions for small-screen improvements as the spirit moves you ;).

[2013-02-28 12:32] #52 closed, assigned to nobody

[2013-02-28 19:21] wltrimbl commented on #319
I can help out again; (firm commitment pending firm date) I'm local to the neighborhood containing the University of Chicago.

[2013-02-28 21:12] emhart commented on #313
Damn, I also would love to go back to UMass (also an alum).  If you need anymore instructors let me know :)

[2013-03-01 11:38] robintw commented on #245
@mikej888: How many instructors do we need to recruit for this? Was there any response to your ping to the mailing list?

@davidmam @NelleV: Can do you any of the provisional dates? Mon 3rd - Tues 4th June or Any two days within Wed 19th - Fri 21st June?

[2013-03-01 11:42] NelleV commented on #245
@robintw I can both dates right now, but my schedule is starting to fill up. It would be great if we could set the dates quickly.

[2013-03-01 11:47] davidmam commented on #245
Either would be fine though early June would be better, but I wouldn't class my self as an Instructor. I'd be there to help and learn how a SC bootcamp runs.

[2013-03-01 12:43] robintw commented on #245
Right, I've made an executive decision: the boot camp will be on the 3rd and 4th June 2013. We now have a room booked for those dates which will hold 50 people.

@NelleV and @davidmam: From what you've said above, those dates should be fine - and at least you can get it in your calendars now. If there are any issues with the dates then let me know.

@mikej888: Could you send this new date to the v

[2013-03-01 12:43] BernhardKonrad commented on #30
I would be interested as well.

[2013-03-01 12:44] BernhardKonrad commented on #32
I would be interested in going, but will have to double check the dates. Please keep me updated!

[2013-03-01 13:05] mikej888 commented on #245
@robintw done. If you want an EventBrite registration page and mailing list set up please let me know. We can password protect any page so you can ensure ICSS get priority.

[2013-03-01 13:12] davidmam commented on #245
Is there a provisional syllabus for the bootcamp? What is the expected base level of the participants?

[2013-03-01 13:23] drj11 commented on #245
I can help and/or instruct if you need me

[2013-03-01 14:24] robintw commented on #245
@drj11: That sounds great - where are you located? We can cover UK travel expenses.

[2013-03-01 14:38] robintw commented on #245
Now we've sorted the dates, here is far more information about the bootcamp participants, topics, schedule etc.

The bootcamp will be held at the University of Southampton (Southampton, UK, SO17 1BJ) on the 3rd and 4th June 2013, from 9am-5pm each day. Lunch will be provided, as well as coffee/tea/biscuits for breaks. We will provide travel expenses for instructors, assuming they are UK-based (or

[2013-03-01 14:43] davidmam commented on #245
I feel I should back out of this one as it will be outwith my areas of expertise.

[2013-03-01 14:52] NelleV commented on #245
I can do the following (ideally, I would like not to teach more than 2 of these subjects):
- version control with git
- debugging effectively with pdb (ie in python, but I can also mention debugging segfaults in python with gcc)
- reproducible research (this goes quite well with version control)
- matrix/array programming with numpy

I can also speak about testing (using nosetests), but it's not m

[2013-03-01 15:50] robintw commented on #245
@NelleV: If you're happy to do _version control with git_ and _reproducible research_ that would be great - particularly as I can see those going fairly well together. Reproducible research is something I've started gradually raising with some of my colleagues in the ICSS, and they are very keen to learn more.

@drj11: Are there any topics in my list that you would be happy to instruct on?

[2013-03-01 17:23] amyrhoda opened #328 "Need a subscribe/unsubscribe page for announcements email list"
See http://wiki.dreamhost.com/KB_/_Web_Programming_/_CGI%2C_PHP_%26_Databases_/_Announcement_Mailing_List#How_can_people_subscribe_to_my_mailing_list.3F

[2013-03-02 15:02] robintw commented on #245
@mikej888: An EventBrite page with a mailing list etc would be great. Presumably you set one up and then give me some sort of admin rights so that I can put in all of the details etc? Will EventBrite give us a way to have a waiting list once we've got all of the ICSS students who want to come and opened it to others?

[2013-03-03 13:58] wking commented on #328
Closed with 8218f76398bcb3f9bc2bb32a9a110395c1e12bb8 merging #331.

[2013-03-03 13:58] #328 closed, assigned to pipitone

[2013-03-03 14:01] wking commented on #318
Links to discuss@ and announcements@ were added with 8218f76398bcb3f9bc2bb32a9a110395c1e12bb8 merging #331.  Is that sufficient to close this PR?

[2013-03-03 14:03] wking commented on #231
So, now that there are Facebook and Google+ presences, are we ready to close this issue?

[2013-03-03 14:09] wking commented on #69
Was this fixed with #203, or do we still need more format/content guidance?

[2013-03-03 14:11] wking commented on #89
See also, PR #334.

[2013-03-03 14:12] wking commented on #15
See also, ipython/ipython#2832.

[2013-03-03 14:13] wking commented on #10
See also, PR #333.

[2013-03-03 14:23] wking commented on #198
Since 6ce9f81e2fd1e5746a77881a744edc1f69f583cf (PR #325), the headings have “Workshops” replaced by “Boot Camps”.  That seems to address the main issue here.  I don't understand the references to style sheets though, so I may be missing something important…

[2013-03-03 14:33] jiffyclub commented on #69
Still waiting on swcarpentry/notebooks#5.

[2013-03-03 15:09] gvwilson commented on #231
On 2013-03-03 9:03 AM, W. Trevor King wrote:

[2013-03-03 16:44] wking commented on #231
On Sun, Mar 03, 2013 at 07:09:06AM -0800, Greg Wilson wrote:

Good point.  There are links to Facebook:

[code]

but `CONTRIBUTING.md` claims there should also be a `{{facebook_url}}`
setting.

There do not seem to be any links to the Google+ page yet:

[code]

[2013-03-03 17:04] jiffyclub commented on #231
We could add another label at the bottom for G+, though these links should maybe also go in the FAQ or a separate "Contact" page.

Right now we've made a G+ "Community", I think we should probably also have a [G+ Page](http://support.google.com/plus/bin/answer.py?hl=en&answer=1710691), which is a bit more analogous to the Facebook org. page idea in that people can add us to their G+ circles instea

[2013-03-04 13:23] wking commented on #69
Looks like swcarpentry/notebooks#5 was just merged.  Anything else before we close this issue?

[2013-03-04 13:24] jiffyclub commented on #69
Fine with me.

[2013-03-04 13:25] #69 closed, assigned to jiffyclub

[2013-03-04 14:21] drj11 commented on #245
@robintw I'm in the UK (sheffield, specifically). As for topics I can teach Python, shell, and, with more trepidation, make, testing, good program design, version control.  I cannot in all honesty teach matrix programming.

[2013-03-04 15:24] robintw commented on #245
@drj11: If you could teach _Shell_ that'd be great, and which of _make_, _testing_ and _good program design_ would you be happiest teaching?

Looks like so far we have three topics definitely covered:
- Version control with git
- Reproducible Research (I imagine this will be somewhat shorter than the Git session - is that correct @NelleV?)
- Shell

A question for everyone (perhaps particularly @mi

[2013-03-04 16:43] NelleV commented on #245
@robintw indeed, the reproducible research part should be shorter than the git part.

In the bootcamps in france, we cover 4 topics on two days. Our bootcamps are traditionnaly longer than the north american ones (we finish later - last year was 9:00 to 17:30-18:00), but we take long breaks (twice 30minutes, and 1h30 of lunch breaks).
This means each instructors has 3h-3h30: it's quite long for th

[2013-03-04 16:55] drj11 commented on #245
@robintw ah, testing. :) especially if that means testing in python.

[2013-03-04 16:57] amyrhoda opened #338 "Stand-alone unsubscribe page"
It would be great if we could have a stand-alone unsubscribe page for the announcement list, so we could include a "unsubscribe" link in mailouts. Ideally it would auto-populate with recipient's email address so they just have to click "unsubscribe".

Unsubscribing should send them to a page with links to our Twitter and Facebook so they can stay in touch other ways if they want to.

[2013-03-04 17:49] robintw commented on #245
@drj11: Great - can we put you down for testing then? Using python as the example language is great - as most people will have at least some knowledge of Python - but a focus on the generic concepts and approaches to testing    will make it useful to everyone.

[2013-03-05 10:53] sprossiter commented on #245
I can potentially help out with this and I'm at Southampton Uni so no logistical issues. My background is more in commercial IT, with my research development Java based (on Linux), but I know some Python (mostly for scripting and not using scientific stuff, though am keen to brush up). I use Subversion for VC, but am trying to learn git. Of the topics listed, I'd be most useful on:

Good program d

[2013-03-05 12:37] gvwilson commented on #231
On 2013-03-03 12:04 PM, Matt Davis wrote:

[2013-03-05 15:11] jiffyclub commented on #231
Okay, we have a G+ page at https://plus.google.com/u/0/b/114244759874490019250/114244759874490019250/posts. I can add other people as managers if you give me the email address associated with your G+ profile.

[2013-03-06 17:13] gvwilson opened #350 "Write a "Perspectives" piece for a general science publication"
@npch suggested that we need a "Perspectives"-style piece published in a general science publication lamenting on the current state of software development skills in the research sector, suggesting how we got here, highlighting the bright spots that we've seen, and suggesting what might be the way forward for the next 5-10 years. He then volunteered to write it.

[2013-03-06 17:21] gvwilson opened #351 "Write a reference paper for Software Carpentry"
Develop a specific "Software Carpentry" paper which we can use  when people ask to cite Software Carpentry. This would cover the teaching and evaluation techniques rather than the curriculum (which is the "Best Practices in Scientific Computing") paper.
- Where would this go? jCSCW? A specific ICT education journal?

[2013-03-07 12:15] npch commented on #350
I am getting @ahay from the Software Sustainability Institute's communications team to help me with this.

(tagging him so that he gets notifications)

[2013-03-07 12:16] AHAY-zz commented on #350
Shall we have a virtual meeting soon to discuss this in detail?

[2013-03-07 16:19] gvwilson commented on #350
On 2013-03-07 7:16 AM, AHAY wrote:

[2013-03-07 17:23] gvwilson opened #353 "Boot camp for University of Iowa Sept 5-6, 2013"
- Local host is Chris Schwarz
- Dates are September 5-6, 2013

[2013-03-07 17:35] benwaugh commented on #350
Would someone like to set up a Doodle poll? I can, but perhaps someone more central (i.e. already named on this issue) could pre-select some times that suit them.

[2013-03-07 17:46] npch commented on #350
I'm going to have a quick chat with @AHAY tomorrow about the mechanics of organising this, and then we'll put out a Doodle poll so that those who are interested in contributing can respond.

[2013-03-07 19:20] adina commented on #353
Old stomping ground of mine, interested if dates work out...will know more soon

[2013-03-07 21:26] jdblischak commented on #319
The scheduling for this event has unfortunately become more complicated because of a miscommunication between me and my administrative contact. I had asked for dates during the week, and she approved them assuming we would run the bootcamp in the evenings. This is because it is difficult to find a lecture hall that is open the entire day for two consecutive days when classes are in session. The si

[2013-03-07 22:33] ivanov commented on #33
ditto for me

[2013-03-07 22:37] ivanov commented on #36
on it!

[2013-03-08 15:57] gvwilson opened #356 "Boot camp at Utah State University July 25-26, 2013"

[2013-03-08 16:06] ethanwhite commented on #356
I won't be here but I can definitely help provide contacts for qualified helpers / potential first time instructors.

[2013-03-09 14:43] ahmadia commented on #293
@jonc125 - I should be able to help out in May, out of curiosity, what is DTCs?

[2013-03-10 14:11] gvwilson commented on #319
No preference at this end --- please go ahead and pick whichever you
think will work best.

On 2013-03-07 4:26 PM, jdblischak wrote:

[2013-03-10 14:14] wltrimbl commented on #319
I can make either of the dates as well, with the exception of June 20.

[2013-03-10 17:12] rhiever commented on #319
Same -- all dates work for me.

##

Randal S. Olson

Computer Science PhD Student
Michigan State University
E-mail: rso@randalolson.com
http://www.randalolson.com

[2013-03-11 10:18] mikej888 commented on #293
@ahmadia - doctoral training centres. They manage EPSRC and ESRC UK funded PhDs in the UK. Oxfords include, http://www.dtc.ox.ac.uk/

[2013-03-11 10:29] ahmadia commented on #293
Okay, so this is actually a fairly broad bootcamp then?  Good to know!

[2013-03-11 20:55] adina commented on #353
I can do this.

[2013-03-12 00:10] jiffyclub opened #361 "Badge URLs don't work"
I was looking at my [super-duper SWC badge](http://beta.openbadges.org/share/a77a56b78294f0c174774c00fc37f5a5/) and the URLs associated with it have issues. The "Criteria" URL just goes to a list of created badges, and the "Evidence" link doesn't work at all.

[2013-03-12 00:51] gvwilson commented on #361
On 2013-03-11 8:10 PM, Matt Davis wrote:

[2013-03-12 00:57] jiffyclub commented on #361
To be clear, the URLs that aren't working are links to software-carpentry.org.

[2013-03-12 17:56] gvwilson commented on #361
Assigning to @pipitone --- Jon, have a look in bin/badge.py (which is more complicated than it ought to be) and I'll put together an email explaining where we are now.

[2013-03-12 18:55] bendmorris commented on #356
Due to Pioneer Day, the dates of the CUAHSI conference have been changed. David has requested that we move the workshop to July 16-17.

[2013-03-12 19:35] ethanwhite commented on #356
In that case I should still be around and would be happy to help teach.

[2013-03-12 20:14] wking commented on #361
On Tue, Mar 12, 2013 at 10:56:14AM -0700, Greg Wilson wrote:

I took a look at `badge.py` and the associated docs [1](https://github.com/mozilla/openbadges/wiki/Badge-Baking), which say:

  If you are building a new system, we strongly recommend using the
  JavaScript Issuer API for awarding badges. We will eventually either
  restrict or totally end the ability to award from the baking
  service.

[2013-03-12 20:17] gvwilson commented on #361
On 2013-03-12 4:14 PM, W. Trevor King wrote:

[2013-03-12 23:23] jkitzes commented on #320
If this goes forward, I could hop down as an instructor if that's helpful.

[2013-03-12 23:25] jkitzes commented on #247
Closing as the boot camp is over - but please reopen if these are supposed to stay active for any reason.

[2013-03-12 23:25] #247 closed, assigned to nobody

[2013-03-13 00:24] #28 closed, assigned to gvwilson

[2013-03-13 00:36] gvwilson commented on #43
Our existing mechanism will suffice for this funding round.

[2013-03-13 00:36] #43 closed, assigned to nobody

[2013-03-13 00:38] gvwilson commented on #89
Existing storage mechanism is working well enough.

[2013-03-13 00:38] #89 closed, assigned to nobody

[2013-03-13 00:39] gvwilson commented on #198
Fixed by https://github.com/swcarpentry/website/commit/6ce9f81e2fd1e5746a77881a744edc1f69f583cf

[2013-03-13 00:39] #198 closed, assigned to amyrbrown

[2013-03-13 00:39] #231 closed, assigned to amyrbrown

[2013-03-13 00:40] gvwilson commented on #318
Yup --- PR closed.

[2013-03-13 00:40] #318 closed, assigned to nobody

[2013-03-13 00:55] gvwilson opened #366 "Boot camp at U. Pittsburgh"
- Host (Joshua Adelman) would prefer June 2013 if instructor(s) are available.
- See also #46.

[2013-03-13 00:59] wking commented on #366
On Tue, Mar 12, 2013 at 05:55:32PM -0700, Greg Wilson wrote:

I've got family in Pittsburgh, so I'm definitely interested ;).

[2013-03-13 01:02] gvwilson opened #367 "Boot camp for computational chemists at Virginia Tech July 15-16, 2013"
Prof. Daniel Crawford liked the January boot camp at Virginia Tech, and would like to run one as the first two days of a two-week course for grad students in computational chemistry this summer.

[2013-03-13 01:14] gvwilson opened #368 "Boot camp in Medellin, Colombia"
Juan Pineda from the supercomputing center at Universidad EAFIT contacted us to ask if we could run a boot camp for them.

[2013-03-13 03:24] arokem commented on #320
Yes - me too.

[2013-03-13 05:41] cozzini commented on #368
I can be part of the team: I was there a couple of time and it would be great to go back

[2013-03-13 10:59] gvwilson commented on #67
Leaving fonts as they are for now.

[2013-03-13 10:59] #67 closed, assigned to jiffyclub

[2013-03-13 11:02] gvwilson commented on #196
It's good enough.

[2013-03-13 11:02] #196 closed, assigned to gvwilson

[2013-03-13 13:43] caitsydney commented on #368
Please.

[2013-03-13 17:06] selik commented on #368
That'd be awesome.

[2013-03-13 21:37] jaredlander commented on #368
Possibly, depending on when.

[2013-03-13 23:05] rachelslaybaugh commented on #366
I'd like to teach, I live in Pittsburgh and am an adjunct professor at Pitt.

[2013-03-15 03:50] pipitone commented on #361
@gvwilson, @wking: Actually, we _can_ just use the Javascript Issuer API. See pipitone/website@7404f34a1a86fc01ff96a87419945ffa6dfb906e.

This means we don't need to "bake" the json assertions into images. The assertions can just refer to a single badge image for each kind of badge, and the javascript does the rest. If we go this route, folks get their badges by adding them to their Backpack.

Tho

[2013-03-15 12:01] gvwilson commented on #361
On 2013-03-14 11:50 PM, Jon Pipitone wrote:

[2013-03-15 16:18] jiffyclub commented on #361
@pipitone, that looks great!

[2013-03-15 16:47] #20 closed, assigned to nobody

[2013-03-15 16:48] pipitone commented on #361
I've updated dev.software-carpentry.org/badges.  You should  be able to add your badge from there now (the assertion is coming from software-carpentry.org of course).

@gvwilson This is basically a bake-on-demand service. The badge only comes into existence when someone adds it to their backpack. We just host the assertions and the unbaked badge images.

[2013-03-15 16:48] #58 closed, assigned to nobody

[2013-03-15 16:48] gvwilson commented on #161
Will deal with it as part of the Pelican conversion.

[2013-03-15 16:48] #161 closed, assigned to nobody

[2013-03-15 16:50] gvwilson commented on #351
Have started in https://github.com/swcarpentry/assets/tree/master/papers/software-carpentry-lessons-learned

[2013-03-15 18:46] pipitone commented on #338
@amyrbrown, I've put a bare bones unsubscribe page for you to look at here: http://dev.software-carpentry.org/about/unsubscribe.html. You can also hit the page with and email address in the URL, e.g. http://dev.software-carpentry.org/about/unsubscribe.html?email=example@example.com and the email auto-populates. I've checked and we can make that happen in the emails sent from DreamHost.

I'm not su

[2013-03-15 19:43] pipitone commented on #220
Turns out things are much simpler than I had thought.  Disqus has [migration tools](http://software-carpentry.disqus.com/admin/tools/migrate/). One option is to have disqus crawl your site and update the post URLs. Nice.  I've kicked that off so perhaps in a few hours we'll see comments return.  If not, we can upload a CSV file that maps old URLs to new ones, so I'll give that a go.

[2013-03-16 10:56] gvwilson opened #383 "Boot camp at Joint Genomics Institute (Walnut Creek, CA)"
As a follow-on to the LBL boot camps, the folks at the DOE's Joint Genomics Institute would like one this summer.

[2013-03-16 12:17] gvwilson opened #385 "Arrange boot camp at Rockefeller University (New York)"
- Zachary Charlop-Powers (Laboratory of Genetically Encoded Small Molecules, Rockefeller U.) would like to host.

[2013-03-16 13:19] gvwilson commented on #368
- Nathan Collier (@nocollier) is interested.

[2013-03-16 14:07] kcranston commented on #351
Great idea! Happy to help with this.

On Fri, Mar 15, 2013 at 12:50 PM, Greg Wilson notifications@github.comwrote:

##

[code]

[2013-03-16 14:31] arokem commented on #383
I can teach at this one, depending on the exact timing

[2013-03-16 15:16] jkitzes commented on #383
I can probably do this too, depending on the dates - it's literally right around the corner.

[2013-03-16 16:40] adamobeng commented on #385
I'll help, if I'm around.

[2013-03-16 18:36] pipitone commented on #220
Comments are back!

[2013-03-16 18:36] #220 closed, assigned to pipitone

[2013-03-17 00:05] zachcp commented on #385
Just checking in. I'm Zach Charlop-Powers and I'd like to host.

[2013-03-17 15:48] matthewruttley commented on #385
Hi! I can help out. When are you intending to run the camp?

[2013-03-18 10:57] gvwilson opened #392 "Boot camp at Imperial College London"
Florian Rathgeber, Computational Methods in Science and Engineering, is local contact, and is looking into it, possibly for September/October.

[2013-03-18 16:41] jdblischak commented on #319
The official date is June 17-18.

[2013-03-18 21:47] zachcp commented on #385
I was thinking of targeting May or June but we wanted to see if there were local instructors available or if we need to try to fly someone in.

[2013-03-18 21:50] matthewruttley commented on #385
May/June sounds good. There are quite a few of us here in NYC! It might be cool to fly in a python "celebrity" for a second session though :D

[2013-03-18 22:08] zachcp commented on #385
@adamobeng @matthewguitar89

Thanks for responding. I'm new to this so any help/advice you may have is welcome.  So my basic question is: can you guys run a bootcamp or do we need to keep looking?   I agree that bringing in a "celebrity" would be nice and I'm looking around for funding but I would like to start organizing. If we can get a few instructors lined up I can start   working on rooms/hel

[2013-03-19 19:58] gvwilson opened #402 "Incorporate points from EGI "why attend?" post into our FAQ."
Pillage from http://www.egi.eu/news-and-media/newsfeed/news_0178_software_carpentry_workshop.html.

[2013-03-19 20:32] gvwilson opened #403 "Create a page for videos by our instructors"
We should keep track of videos of our instructors in action elsewhere, e.g., talks at PyCon.

[2013-03-20 11:01] gvwilson opened #404 "Create a way for people to give us calendar entries"
From @pipitone: Google Calendar does allow you to accept invitations to events.. could we that feature... I'm imaging a second software carpentry Google Calendar that we accept event invites to, and then our calendar widget could show events from both the bootcamps.ics and our "other" calendar.

[2013-03-20 14:44] wking opened #407 "data@ and assessment@ archives are currently private"
From #405:

On Wed, Mar 20, 2013 at 07:21:03AM -0700, Greg Wilson wrote:

[2013-03-20 21:50] #361 closed, assigned to pipitone

[2013-03-20 22:37] gvwilson opened #409 "Shorten descriptions of intended audience, and add more"
See http://software-carpentry.org/about/audience.html: each description should be half the size (or less), and we need several more.

[2013-03-21 11:29] pipitone opened #412 "Describe our repositories on the about/contributing page"
On 2013-03-20 7:28 PM, Amy Brown wrote:

[2013-03-21 13:47] jdblischak commented on #319
Randy and Will, could you please confirm your commitment for June 17-18?

Steve, sorry about the date change. Please let me know you could help us out in June, but of course I understand if that is too much traveling for you.

[2013-03-21 13:59] rhiever commented on #319
Yep, June 17-18 works for me. I'll be a short train ride away in East Lansing.

[2013-03-21 14:15] wltrimbl commented on #319
Yes, I can commit to June 17-18, bootcamp in Chicago.

w

On Thu, Mar 21, 2013 at 9:47 AM, jdblischak notifications@github.comwrote:

[2013-03-21 14:27] stevemcgough commented on #319
Sorry,

I won't be in the states in June.

Steve..

Sent from my iPad

On 21 Mar 2013, at 13:47, "jdblischak" <notifications@github.com<mailto:notifications@github.com>> wrote:

Randy and Will, could you please confirm your commitment for June 17-18?

Steve, sorry about the date change. Please let me know you could help us out in June, but of course I understand if that is too much traveling for y

[2013-03-24 01:20] adamobeng commented on #385
There is a formal stratification between instructors and helpers and I am
but the latter.

@adamobeng https://github.com/adamobeng
@matthewguitar89https://github.com/matthewguitar89

Thanks for responding. I'm new to this so any help/advice you may have is
welcome. So my basic question is: can you guys run a bootcamp or do we need
to keep looking? I agree that bringing in a "celebrity" would be ni

[2013-03-24 16:22] patrickfuller commented on #319
If need be, I'm willing to help out again (Sorry for the delay - I am waay behind on emails).

[2013-03-25 20:09] gvwilson commented on #407
@pipitone to check, and then add links?

[2013-03-25 20:11] gvwilson commented on #158
Some people need these for professional development; we want to generate them programmatically. Use swc-certificate.ai in assets/branding/swc-certificate.ai as a starting point.

[2013-03-25 20:12] gvwilson commented on #409
Duplicates #65.

[2013-03-25 20:12] #409 closed, assigned to nobody

[2013-03-25 20:13] gvwilson commented on #64
Should be part of the Pelican rewrite.

[2013-03-25 20:13] #63 closed, assigned to gvwilson

[2013-03-25 20:13] gvwilson commented on #45
We're unlikely to get to this.

[2013-03-25 20:13] #45 closed, assigned to nobody

[2013-03-26 10:06] gvwilson opened #419 "Boot camp in Adelaide Sept 2013"
The Australian Bioinformatics Network (ABN) has funding to bring one instructor to Australia from overseas to help teach a boot camp in Adelaide Sept 24-26, and another in Brisbane the following week (beginning Sept 30). If you're interested, please add your name to this ticket.  They'd strongly prefer someone with a bioinformatics background.
- See #472 for Brisbane boot camp
- See #473 for Canbe

[2013-03-26 15:40] karthik commented on #419
I'll throw my name in. (on further thought, I am not a traditional bioinformatician so someone else might be better suited).

[2013-03-28 15:49] mikej888 opened #424 "Boot camp for DPAG, University of Oxford"
David Sims, Department of Physiology Anatomy and Genetics, is local contact, and is looking into it. WIll attend #293 if time permits. After discussion with @mikej888 at ELIXIR/GOBLET workshop.

[2013-03-28 15:51] mikej888 opened #425 "Boot camp for STFC"
Stephen Pascoe is local contact. After discussion with @mikej888 at Collaborations Workshop 2013.

[2013-03-28 15:57] mikej888 opened #426 "Boot camp for Open University"
Jonathan Fine, Open University and UK PyCon organiser 201 and 2013, is local contact and is looking into it. May attend #42 as an observer. After discussion with @mikej888 at Collaborations Workshop 2013.

[2013-03-28 15:57] mikej888 opened #427 "Boot camp for Centre for Ecology & Hydrology, Oxford"
Tim Booth, Centre for Ecology & Hydrology, Oxford, is local contact and is looking into it. Also interested in becoming an instructor. After discussion with @mikej888 at ELIXIR/GOBLET workshop.

[2013-03-28 15:57] mikej888 opened #428 "Boot camp for Pirbright Institute, Surrey"
Jan Kim, Pirbright Institute, Surrey is local contact and is looking into it. May also involve University of Surrey. After discussion with @mikej888 at ELIXIR/GOBLET workshop.

[2013-03-29 11:19] mikej888 opened #429 "R-themed boot camp for DAMTP, Cambridge, October"
- Stephen Eglen and Laurent Gatto, Department of Applied Mathematics and Theoretical Physics, Cambridge.
- 1st week October
- 30 attendees - graduate students, post-docs and faculty would benefit.

[2013-03-29 12:14] eddiejessup commented on #42
Elliot Marsden, University of Edinburgh, I'm happy to attend as a helper

[2013-03-29 12:16] fcullen commented on #42
Fergus Cullen, University of Edinburgh, can attend as a helper

[2013-03-29 13:35] davidmam commented on #42
As I said upthread, I may be nearby and will then come along as a helper.

[2013-03-29 14:15] robintw commented on #245
Hi all,

We've now had quite a few registrations for the bootcamp (only 14 places left now!), so I thought we ought to sort out a few more of the arrangements.

So far we have:

Instructors: @NelleV, @drj11, ? @monsieurrigsby
Helpers: @robintw (me) + a few other possibilities
Topics:
- Version control with git (@NelleV)
- Reproducible Research (@NelleV)
- Shell (@drj11)
- Testing (@drj11)

What do

[2013-04-01 09:12] mikej888 commented on #42
Dhavide can't make it.

[2013-04-01 14:53] pipitone opened #434 "Make the HOWTO easier to navigate by adding collapseable sections"
Bootstrap has this feature, called "collapse":
http://twitter.github.com/bootstrap/javascript.html#collapse

[2013-04-01 15:02] jiffyclub commented on #434
The "Affix" navigation helper is pretty nice too. I find it a bit nicer for jumping around the document than expanding/collapsing sections.

[2013-04-01 15:18] mikej888 opened #435 "Boot camp for University of Lancaster"
Barry Rowlingson is local contact and is looking into it.

[2013-04-01 15:23] pipitone commented on #434
Oh yeah, good call!

[2013-04-02 20:02] #47 closed, assigned to pipitone

[2013-04-02 20:10] pipitone opened #438 "A "banner" type box we can enable on the front page to highlight special events/etc.."
In particular, we'd like to use this for the upcoming WISE bootcamp.

[2013-04-03 10:31] gvwilson opened #439 "Put non-default contact email address in boot camp pages."
Add email address of boot camp organizer to page metadata, and display that instead of the info@software-carpentry.org default.

[2013-04-04 10:51] sprossiter commented on #245
I've (belatedly) filled in the Doodle poll, though it seems I'm the only one. I'm currently a bit nervous about what capacity I could/should be involved in. (I'm also trying to finish a PhD in my non-existent spare time, so really can't commit a large amount of time, and may even have to pull out if I think I can't help out to the 'required standard', when I understand what that is.)

If I was goi

[2013-04-04 13:55] jdblischak commented on #319
I'd like to have a sense of what everyone wants to teach so that I'll know if there are any holes in our instructor team. Could you please let me know which boot camp sections you are comfortable teaching? Please list them in order beginning with those you most want to teach at the top and those you would least like to teach at the bottom. I am currently planning on keeping the same sections we ha

[2013-04-04 19:20] amyrhoda commented on #338
Yup, I think we should have a separate confirmation page after people have unsubscribed, if only to assure them that it worked.

[2013-04-04 20:23] amyrhoda commented on #26
We're looking at August or early September for this. Let me know if you're still interested and we'll get a couple of instructors lined up.

[2013-04-05 00:20] arokem commented on #26
I might be available, as long as there's no conflict with my BM plans :fire:

[2013-04-05 10:11] gvwilson opened #447 "Add Tracy Teal to about/team.html"

[2013-04-05 10:11] gvwilson opened #448 "Add David Wolever to about/team.html"

[2013-04-05 10:12] gvwilson opened #449 "Add Aron Ahmadia to about/team.html"

[2013-04-05 10:13] gvwilson opened #450 "Add Jennifer Bryan to about/team.html"

[2013-04-05 10:17] gvwilson opened #451 "Add Stefano Cozzini to about/team.html"

[2013-04-05 10:18] gvwilson opened #452 "Add Aleksandra Pawlik to about/team.html"

[2013-04-05 10:19] gvwilson opened #453 "Add Rich Enbody to about/team.html"

[2013-04-05 10:19] gvwilson opened #454 "Add Karen Cranston to about/team.html"

[2013-04-05 10:20] gvwilson opened #455 "Add Ben Morris to about/team.html"

[2013-04-05 18:45] gvwilson opened #457 "Boot camp at Mozilla in Toronto May 9-10, 2013"

[2013-04-05 22:06] pipitone commented on #457
I'll be able to help recruit for this, and very likely be able to help/instruct.

[2013-04-08 00:39] #453 closed, assigned to gvwilson

[2013-04-08 00:39] #447 closed, assigned to tracykteal

[2013-04-08 00:39] #438 closed, assigned to pipitone

[2013-04-08 17:25] pipitone commented on #338
Whelp, there is now just a basic, bland "unsubscribe successful" page supplied by Dreamhost (our webhost) that comes up.  My sense is that it's good enough for the moment.

[2013-04-08 17:30] gvwilson commented on #338
On 2013-04-08 1:25 PM, Jon Pipitone wrote:

[2013-04-08 17:52] mikej888 commented on #245
From the comments foregoing, I think one on documentation and debugging might be a good choice? Some of the US boot camps have prepared material for that.

Also @drj11, perhaps your session on where/how to get help that you're doing for the Manchester boot camp?

For good program design, that would depend upon the audience but I'd be inclined to keep to the basics of modularity - what/when to part

[2013-04-09 00:57] #412 closed, assigned to pipitone

[2013-04-11 11:41] gvwilson opened #472 "Boot camp in Brisbane Sept 2013"
The Australian Bioinformatics Network (ABN) has funding to bring one instructor to Australia from overseas to help teach a boot camp in Adelaide Sept 24-26, and another in Brisbane the following week (beginning Sept 30). If you're interested, please add your name to this ticket. They'd strongly prefer someone with a bioinformatics background.
- See #419 for Adelaide boot camp
- See #473 for Canber

[2013-04-11 11:43] gvwilson opened #473 "Run boot camp in Canberra"
Organize and run a boot camp in Canberra in the second half of 2013.
- See #419 for Adelaide boot camp
- See #472 for Brisbane boot camp
- See #474 for Sydney boot camp
- See #475 for Melbourne boot camp

[2013-04-11 11:44] gvwilson opened #474 "Run boot camp in Sydney"
Organize and run a boot camp in Sydney in the second half of 2013.
- See #419 for Adelaide boot camp
- See #472 for Brisbane boot camp
- See #473 for Canberra boot camp
- See #475 for Melbourne boot camp

[2013-04-11 11:44] gvwilson opened #475 "Run boot camp in Melbourne"
Organize and run a boot camp in Melbourne in the second half of 2013.
- See #419 for Adelaide boot camp
- See #472 for Brisbane boot camp
- See #473 for Canberra boot camp
- See #474 for Sydney boot camp

[2013-04-11 11:56] philippbayer commented on #472
Hi! I've already been in contact with Nathan about the Brisbane boot camp, and I've contacted UQ to get a room for about 40 participants. I've also talked to a couple of people at UQ, there's definitely interest in a) helping out and b) attending.

Getting a room at UQ is a bit messy as different parties are responsible for different buildings, I've contacted the right people twice but they haven'

[2013-04-11 12:07] naught101 commented on #474
I'm available to help.

[2013-04-11 21:58] andrewletten commented on #474
Aiming for an R-based boot camp at UNSW at the end of the year (November/December) led by Rich and Daniel from Macquarie Uni - primarily targeting ecologists/evolutionary biologists but of course open to anyone interested...

[2013-04-11 22:00] dbarneche commented on #474
I'm more than glad to help Rich and Daniel

[2013-04-11 22:31] gvwilson opened #476 "Test installation of Enthought Canopy + extras"
Please add comments to this ticket to tell us what platforms you've installed Enthought Canopy on (https://enthought.com/products/canopy/), and what other packages you've installed with it --- we're particularly interested in Bash, Git, SQLite, and Pandas.

[2013-04-12 00:45] ethanwhite commented on #476
I have successfully installed Canopy Express (the free version) on Windows 7 32-bit and 64-bit (1 machine each). I also installed msysgit (GitBash) on both machines and everything worked seamlessly with no additional effort (including launching nosetests, ipython, and ipython notebook from GitBash).

Pandas does not come pre-installed, but can be added using Canopy's built-in, graphical, package m

[2013-04-12 00:56] jiffyclub commented on #476
I've tested it out on Mac OS 10.8 and it works. In good news the installation is less intrusive than their old installers and no longer requires an administrative password to install. It's not necessary to use the command line to install or configure if the user's environment is compatible with the installer's assumptions. At the command line they are using virtualenv to put the user into an isola

[2013-04-12 01:05] jiffyclub commented on #476
One thing I haven't been able to figure out is what versions of Mac OS X Canopy is compatible with. Doesn't seem to be anywhere on their site. Maybe that means all of them?

[2013-04-12 02:18] ethanwhite commented on #476
I consider this a bonus in the classroom.

Agreed, but for something that works across operating systems without a lot of hassles that's a small price to pay (especially since most people won't need to pay it)

Or you can just use easy_install/pip, which is what you'd have to do with other installations anyway.

[2013-04-12 02:33] jiffyclub commented on #476
Actually, you have to `easy_install pip` first, it doesn't ship with it. That's a pretty bad oversight right there. :wink:

I don't think the IDE has any advantages over the Notebook for teaching. How do you consecutively execute two unrelated commands? You'd have to type them in the IPython console at the bottom but then you don't get any of the benefits of the Notebook. You need that interactive

[2013-04-12 02:59] ethanwhite commented on #476
No disagreement here, but it's a nice backup and a nice gateway IDE for folks that want one. I actually included all of that stuff because you've previously mentioned wanting a code aware editor [1] and this has one baked in without any additional install.

There is a run selection option if you actually want one.

[1] https://github.com/swcarpentry/website/pull/335#issuecomment-14383620

[2013-04-12 09:59] benwaugh commented on #152
In progress: see https://github.com/swcarpentry/boot-camps/pull/61

[2013-04-12 10:51] gvwilson commented on #476
On 2013-04-11 10:33 PM, Matt Davis wrote:

[2013-04-12 12:50] jiffyclub commented on #476
Good point about the code editor. You can even launch it from the command line, though it blocks the terminal. (Necessitating the introduction of `&`.)

But I'm actually moving to the Notebook for when I teach modules and scripts. I used to go back to command line/text editor but I get so many complaints about the amount of window switching required that I'm going to use the Notebook and the `%%fi

[2013-04-12 13:10] jiffyclub commented on #476
All my criticisms aside, though, the fact that Canopy works out of the box on Windows pretty much means we have to use it. Can anyone test on Windows XP/8? Testing on older versions of Mac OS X would be good too. And Linux.

[2013-04-12 14:54] pipitone commented on #476
I just did a installation of Canopy 32bit on a fresh Windows XP image.  The
installation went fine, but when I attempt to start the Canopy GUI, Package
Manager, or Code Editor (via clicking on the icon/start menu entires, or
command line) ... absolutely nothing happens.

I'll keep poking around.

[2013-04-12 15:24] jiffyclub commented on #476
What about running things like ipython from Git Bash?

[2013-04-12 19:45] katieirenec commented on #476
I installed Canopy on my MacBook with Mac OS 10.6, which was very easy. I made a new account for a friend, and it took about 8 minutes for the account verification email to arrive. Hopefully it won't be too much longer for others, becoming a bottleneck.

A couple inconveniences I've noticed so far:
- Canopy and previously installed modules don't seem to play well together, maybe because of the vir

[2013-04-12 19:59] jiffyclub commented on #476
@katieirenec: The `(Canopy 64bit)` in the prompt is something virtualenv does. It's so you know which virtualenv you're in (because you may potentially have several).

The problems you saw in the first point are because Canopy doesn't come with `pip`. When you typed `pip install pandas` it actually ran the `pip` in Anaconda because that was the first `pip` your system found. If you had first run `

[2013-04-12 20:04] jiffyclub commented on #476
@ethanwhite & @pipitone, can you tell whether Canopy is using virtualenv on Windows, or does it have some other environment management solution? I don't even know whether you can use virtualenv on Windows.

[2013-04-12 20:22] katieirenec commented on #476
@jiffyclub, I tried `easy_install pip` and then `pip install pandas` before installing pandas with the Canopy GUI, but I still got the same message about pandas already being installed with the Anaconda files. It's possible I overlooked something though.

In any case, maybe I can serve as a useful barometer for the reactions of bootcamp attendees who don't know about virtualenv :)

[2013-04-12 20:26] jiffyclub commented on #476
@katieirenec: Another thing they don't tell you is that if you want to leave the Canopy environment you type `deactivate` (a virtualenv command), though if you don't have the `source /.../bin/activate` line in your `.profile` then getting a new shell would do the trick.

[2013-04-13 02:01] amyrhoda opened #483 "Boot camps at Data Science for Social Good in Chicago"
Camps are June 3-4 and 17-18.

[2013-04-13 14:52] gvwilson opened #484 "Rename 'ubc' mailing list to 'bc'"
Now that people in Victoria and at SFU are interested in boot camps, we should rename the 'ubc' list to signal that it's for everyone in southwestern BC.

[2013-04-14 18:24] ethanwhite commented on #476
I just don't think that we can support XP anymore. That's supporting 4
different MS operating systems and even Microsoft is sunsetting security
patches.

[2013-04-14 18:27] ethanwhite commented on #476
I don't believe so. It's just installing itself in it's own directory and adding that directory to
the front of the path.

[2013-04-14 18:29] jiffyclub commented on #476
What's the percentage of people using XP these days? What about Vista? Did anyone ever even buy that?

I get at least on person per boot camp using Mac OS 10.5, which is totally unsupported now. VirtualBox doesn't even support it, I have to have them go download a couple year old version of VirtualBox so they can use the VM.

[2013-04-14 18:31] ethanwhite commented on #476
Regarding the problems with needing to install Pandas:
1. Pandas will now be in new Canopy installs (http://lists.software-carpentry.org/pipermail/discuss-software-carpentry.org/2013-April/000340.html)
2. Canopy has a graphical package manager that easily installed Pandas for me. If we need to install packages this is probably easier to explain to novices than easy_install/pip.

[2013-04-14 18:38] ethanwhite commented on #476
It's high in the global populace (I think it's actually the second most common OS), but lower in academia and with the MS dropping security patches I think it will disappear pretty quickly (from academia). I literally can't remember the last time I saw a Vista install anywhere.  Folks either went back to XP or upgraded to 7 as soon as it was available.

I've run into really out of date Linux distr

[2013-04-14 18:39] ahmadia commented on #476
@jiffyclub - I haven't had a chance to try out Canopy but Anaconda has similar functionality and works across Windows, OS X, and Linux out of the box as well.  If it hasn't been working, can you point me to the thread where issues were raised?  I just ran three successful boot camps using Anaconda installs across all three platforms, I'm not opposed to using Canopy, but I'm wondering what the comp

[2013-04-14 18:49] ethanwhite commented on #476
@ahmadia There have been issues with Anaconda for other folks. See @ctb's blog post (http://ivory.idyll.org/blog/2013-swc-arizona.html) to get started. Issues I remember include: 1. it doesn't put itself in the path on Macs and only does so optionally on Windows; 2. currently the Mac installer requires using the command line; 3. IPython doesn't run from GitBash out of the box (I think this may onl

[2013-04-14 18:58] ahmadia commented on #476
@ethanwhite - thanks for that, I'll be sure to point the Continuum folks at it.  As I mentioned before, I've had very good luck with Anaconda in the past, the only hiccup I've encountered in Windows is figuring out how to get IPython HTML Notebooks to launch in the right directory (create a shortcut).

The fact that Anaconda doesn't put itself in your PATH/profile by default is a very good thing.

[2013-04-14 19:00] jiffyclub commented on #476
Also, Anaconda's `nosetests` doesn't run from GitBash.

[2013-04-14 19:01] jiffyclub commented on #476
Nor is Anaconda on GitBash's `PATH`.

[2013-04-14 20:46] goxberry commented on #476
@ahmadia As an expert user, not installing into the PATH is great. Teaching basic users, however? I'd rather there be a checkbox or flag I can tell people to select that will add the package to the appropriate part of the PATH. We spent quite a bit of time yesterday at the UCB workshop fixing people's PATH issues for Python packages, and just had to do it again for two people. Any time there are i

[2013-04-14 20:53] goxberry commented on #476
I messed up and posted this on the discuss list, so I apologize for the re-post, but here are the problems we ran into installing Canopy on Macs at UCB yesterday:
- To install it, after copying the Canopy.app to /Applications, you need to launch Canopy.app so that it installs all of the command-line Python tools.
- You also need to add the appropriate Canopy directory to your path, or source their

[2013-04-14 21:06] gvwilson commented on #476
Hi,

[2013-04-14 21:21] ethanwhite commented on #476
I'm with Greg on this one, which emphasizes the value of having an installer that handles the path for us so that everything just works.

[2013-04-14 21:47] goxberry commented on #476
I didn't want to threadjack, but I guess I already have...

I was responding to the comment by @ahmadia:

So...yes, I completely agree with @ethanwhite and @gvwilson , and go even further. As a more expert user, I would rather have an installer insert itself into the PATH and undo it myself than be a basic user flailing around helplessly wondering why the thing I just installed doesn't work.

And

[2013-04-15 02:24] teoliphant commented on #476
The default choice to not install Anaconda on the PATH by default is not appropriate for an introduction to Python.   We are fixing this in the next release.   Still, it's an easy thing to help people adjust to.   However, a bigger issue is the package manager which is getting over-looked in this discussion.

The community has needed a cross-platform package management solution that works with mul

[2013-04-15 06:46] richfitz commented on #474
I should put my name in here too. Available to help, dates unclear at this point, but I don't have any major blocked out bits of time in the second half of 2013.

[2013-04-17 08:47] mikej888 commented on #48
Done and blogged,
- [SSI](http://www.software.ac.uk/blog/2013-04-16-software-carpentry-highlights-egi-forum)
- [EPCC](http://www.epcc.ed.ac.uk/blog/2013/04/16/software-carpentry-highlights-egi-forum)
- [SWC](http://software-carpentry.org/blog/2013/04/egi-forum.html)

[2013-04-17 08:47] #48 closed, assigned to mikej888

[2013-04-17 14:58] gdevenyi commented on #476
@pipitone I just installed 32bit Canopy on my WinXP virtualbox VM (fresh fully updated windows) and everything seems to work fine.

[2013-04-18 17:30] pipitone commented on #476
@gdevenyi Okay, that's good.  I'm also installing in a virtualbox VM, but still no love for me. Perhaps my image is broken somehow.  I'll try reinstalling and report back.

[2013-04-18 17:51] #338 closed, assigned to pipitone

[2013-04-18 17:59] jiffyclub commented on #476
@teoliphant, the issue for us is less what comes in the package as how the package integrates into the user's system. Anaconda and EPD both come with everything we need for a _typical_ boot camp. The real issue in our classrooms is whether users can use what's installed. (But don't get me wrong, I appreciate the openness of Anaconda and conda. :smiley:)

I think you are planning changes that will

[2013-04-18 19:31] amyrhoda opened #492 "Write blog post about AUB, KAUST and Stellenbosch boot camps"
Please include photos, and descriptions of meals. (Just kidding, boot camp reports will suffice.)

[2013-04-19 02:29] jiffyclub opened #495 "XML related build error"
I'm getting this error trying to build the website:

[code]

Ideas?

[2013-04-19 11:34] gvwilson commented on #495
On 2013-04-18 10:29 PM, Matt Davis wrote:

[2013-04-19 11:48] jiffyclub commented on #495
It's been a month or so since I built the site. I think the only difference is that I've upgraded to Python 2.7.4.

[2013-04-19 12:17] pipitone commented on #495
Yeah... Okay, I see what the problem is.

handler._out.write(...) is a hack I wedged in so that we could dump out the
raw HTML content of posts as CDATA sections in the RSS.  handler is a
xml.sax.saxutils.XMLGenerator class and doesn't publicly expose a method to
dump out unescaped XML content (e.g. a CDATA section). I was accessing the
private member _out to do my dirty work.

In Python 2.7.4, _o

[2013-04-19 12:25] drj11 commented on #495
On 19 April 2013 13:17, Jon Pipitone notifications@github.com wrote:

Hmm.

Instead of including the HTML as a CDATA section, have you considered
escaping the HTML so it's a valid XML string?

http://docs.python.org/2/library/xml.sax.utils.html#xml.sax.saxutils.escape

should do the trick.

drj

[2013-04-19 15:51] pipitone commented on #495
Yes, this is what the handler does by default when you try to write text to
an XML node. It's what we want to _avoid_ when we're writing out the HTML
content though, because RSS readers expect content:encoded elements to
contain a CDATA with unescaped HTML.

See here:
https://developer.mozilla.org/en-US/docs/RSS/Article/Why_RSS_Content_Module_is_Popular_-_Including_HTML_Contents

[2013-04-19 15:52] amyrhoda commented on #484
I think so. It's usually best to keep terminology accurate rather than rely on folk knowledge, even if changing it is painful.

[2013-04-19 15:56] amyrhoda opened #497 "Boot camp(s) in New York in September 2013"
Double-header: Python and R. Who's in?

[2013-04-19 15:59] embray commented on #476
Last I tried EPD it sometimes succeeded in changing the user's path, and sometimes didn't.  On Windows and OSX it also installed a bunch of shortcuts to things that they users don't need or that confuse the instruction effort.  For example, we come in telling them we're going to teach them "Python" (which some of them are passingly familiar with, some of them less so).  But then instead of telling

[2013-04-19 16:01] acviana commented on #497
Interested.

[2013-04-19 16:04] embray commented on #476
Also following up on the comments of @goxberry and others, as an "expert" user I almost never touch environment variables and sometimes take great pains to avoid it (now that's of course something of an illusion since it amounts to having all my defaults set up in my .profile along with aliases to change stuff around in various ways when I need to).  Environment variables can be incredibly useful,

[2013-04-19 16:20] dwf commented on #497
Really enjoyed teaching the last NYC workshop, interested if it's towards the end of the month (after, say, the 20th). Can't make it before that, unfortunately. Also, don't really know my way around R, so I'd probably want to stick to Python.

[2013-04-19 16:38] rhiever commented on #497
Coming from Michigan State University. I'd be happy to teach in the Python portion of the boot camp.

[2013-04-19 17:36] gvwilson commented on #484
On 2013-04-19 11:53 AM, Amy Brown wrote:

[2013-04-19 19:06] BernhardKonrad commented on #497
Interested, and would be happy to help with R. But in Vancouver I'm far away...

[2013-04-19 19:38] mikej888 commented on #24
[SSI blog](http://www.software.ac.uk/blog/2013-04-19-software-carpentry-makes-its-debut-manchester)

[2013-04-19 19:38] #24 closed, assigned to mikej888

[2013-04-19 20:05] lauratboyer commented on #497
Interested for the R section -- I am based in Vancouver like Bernhard. There's a small chance I will be in Montreal at the end of August, so we might be able to figure something out.

[2013-04-19 22:23] matthewruttley commented on #497
Interested in the Python bit :D

[2013-04-19 22:24] adamobeng commented on #497
I'm about, I might be able to assist depending on timing.

Are these targeted at a specific audience?

[2013-04-21 00:02] six5532one commented on #497
I'm based in NYC and can help with python. Will be helping at WiSE Boston before that!

[2013-04-21 12:44] gvwilson opened #502 "Boot camp at Simon Fraser University June 2013"
Please add a comment to this ticket if you're available to help teach at SFU in June.

[2013-04-21 13:03] #29 closed, assigned to karthik

[2013-04-21 13:10] #210 closed, assigned to nobody

[2013-04-21 13:10] #183 closed, assigned to dmcglinn

[2013-04-21 13:11] #182 closed, assigned to nobody

[2013-04-21 13:52] NelleV commented on #476
(I haven't read all the comments to this thread - it is a bit long).

We're currently running a bootcamp in Paris, and we had trouble with old version of mac os x (32bit) and Canopy. I haven't seen the error, nor helped debugging it, but it seems it doesn't play well with old version of mac os X.
I didn't ask people to install Canopy, but EPD Free: unfortunately, EPD free has now completely disapp

[2013-04-21 13:52] #434 closed, assigned to pipitone

[2013-04-21 13:52] #448 closed, assigned to wolever

[2013-04-21 13:52] #403 closed, assigned to nobody

[2013-04-21 13:53] gvwilson commented on #497
Replaces #385: @adamobeng @matthewguitar89 @zachcp are also available.

[2013-04-21 13:54] gvwilson commented on #385
Replaced by #497.

[2013-04-21 13:54] #385 closed, assigned to nobody

[2013-04-21 13:59] #292 closed, assigned to mikej888

[2013-04-21 18:21] BernhardKonrad commented on #502
Hi, I could help if it's before June 15th.

[2013-04-22 13:25] LJWilliams commented on #502
I'll be in Vancouver then.  So I would be glad to help.

Lynne

[2013-04-22 16:11] drj11 commented on #495
No-one respects that XML is XML. web collapses.

_sigh_

RSS readers aren't supposed to be able to tell the difference between
something that's been escaped and something that's including as CDATA.

Oh well.

drj

On 19 April 2013 16:51, Jon Pipitone notifications@github.com wrote:

[2013-04-23 01:01] jiffyclub commented on #476
There is also a Windows-only scientific Python distribution called [pythonxy](https://code.google.com/p/pythonxy/), has anyone taken a look at this?

[2013-04-23 04:45] jooolia commented on #502
I could potentially help. Depends on how some data come back. :)

[2013-04-24 13:24] ahmadia commented on #451
The link to @cozzini 's page is broken from: http://software-carpentry.org/about/team.html

The URL it could link to: http://www.democritos.it/~cozzini.html

Is also broken...

The correct link is: http://www.democritos.it/~cozzini/

[2013-04-24 13:41] gvwilson commented on #451
Fixed --- thanks.

[2013-04-24 13:42] #451 closed, assigned to cozzini

[2013-04-25 05:47] katieirenec commented on #476
I have a friend who is a graduate student in medical physics (think
radiation and MRIs), and he loves it. He used it extensively a year ago
while translating his MATLAB code into Python, and he really liked the
variable viewer/editor and ability to highlight a selection of code and run
it with F5. Writing this, I'm wishing there was a MacOS distribution ---
those are the features that I miss from

[2013-04-25 12:18] jiffyclub commented on #476
@katieirenec, it sounds like you're describing the [Spyder IDE](https://code.google.com/p/spyderlib/) that comes with pythonxy. Spyder does have Mac distribution.

I'm curious whether someone could install pythonxy and then get to the stuff we need from Git Bash?

[2013-04-25 22:28] #492 closed, assigned to ahmadia

[2013-04-25 22:28] #452 closed, assigned to apawlik

[2013-04-25 22:29] #450 closed, assigned to gvwilson

[2013-04-25 22:29] #449 closed, assigned to ahmadia

[2013-04-26 12:07] gvwilson opened #512 "Revise pre-assessment questionnaire"
# Pre-Boot Camp Skills Survey

Please answer the following questions to the best of your ability.  to
help your instructors learn more about who they will be teaching and
what pace and level would be most useful.

Your name: ________________________________________

Email address: ________________________________________

Do you plan to attend the workshop at [location]?
- Yes
- No
- Maybe: ______

[2013-04-26 13:00] HaveF commented on #512
Maybe leave a open question like this?

**(optional)Your daily work time may be wasted on some duplicate work. You're sure you will get free if you know some easy-to-use programming language. So, do you like to tell us about this duplicate work?**

[2013-04-26 15:28] rmdickson commented on #512
I like the suggestion from @HaveF.  It provides the instructors with the possibility of customized examples targeted precisely at (at least one member of) their audience.  Let me propose another phrasing:

OPTIONAL:  Can you think of a computing task, relevant to your research, that is repetitive or error-prone?  It might involve manual operations, for example:  Click here, drag there, scan for th